[2013-08-29 19:28] TalAter opened #1 "Add method stop()"
Will cause it to stop listening.

[2013-08-29 19:35] TalAter opened #2 "Add language support"
User can determine the language to use.

[2013-08-29 19:36] TalAter opened #3 "Add multi language support"
annyang already supports receiving commands in any language.
Just call:

[code]

Need to add support for defining rules in multiple languages, and then a user should be able to just change the language without redefining rules:

[code]

See how this can be added without breaking existing code (can define either multiple languages, or one)

[2013-08-29 19:41] TalAter opened #4 "Allow attaching external callbacks to recognition start, error, end and result"

[2013-08-29 19:42] TalAter opened #5 "Speech recognition stops automatically after a while"
Perhaps restart onEnd?

[2013-08-29 19:43] TalAter opened #6 "Allow attaching a callback to use when no rule is met"
Pass it back what you thought might've been said

[2013-08-29 19:45] TalAter opened #7 "Check that context in functions passed to init is correct"

[2013-08-29 19:46] TalAter opened #8 "Add method addCommands()"
Allows adding additional voice commands after init.

[2013-08-29 19:48] TalAter opened #9 "Explore how permission to use the mic can be persisted"

[2013-08-29 21:48] TalAter opened #10 "Let a user spell with a phonetic alphabet"
Copy all commands to a phonetic alphabet "translation"

[2013-08-30 12:09] TalAter opened #11 "Add support for SpeechGrammar"
Explore SpeechGrammar support

Consider using Blobs (see http://stackoverflow.com/questions/9848979/html5-speech-recognition-is-there-a-way-to-set-what-the-user-is-expected-to/15102039#15102039)

Add interface to let user add grammar and words.

[2013-08-30 12:10] TalAter opened #12 "Automatically adjust maxAlternatives"
Consider raising maxAlternatives when having trouble understanding current user.

[2013-08-30 12:22] TalAter opened #13 "Improve flickr demo"
- Maybe a powered by flickr box.
- Change number of results shown
- Add spinning loader while loading
- Show what is being searched

[2013-08-30 13:03] TalAter opened #14 "Make demo site more adaptive (for narrower widths)"

[2013-08-30 13:22] TalAter opened #15 "Add support for debug mode"
annyang.debug() or annyang.debug(true) should turn on debug mode which will output more data to console. including recognized text, and more.

[2013-08-30 13:44] TalAter opened #16 "Add option to highlight permission request"
Show visual cue to user that he needs to approve use of mic.
Perhaps an overlay on the page that draws attention to the notice. This can have an optional text message.
Consider building as an optional external component, plugin.

[2013-08-30 15:01] TalAter opened #17 "List browser support in demo site"

[2013-08-30 17:33] TalAter opened #18 "Allow defining a command prefix"
For example:

[code]

Now only sentences beggining with "OK, glass" will be parsed.

[2013-08-30 20:35] #15 closed, assigned to TalAter

[2013-08-30 21:01] #1 closed, assigned to TalAter

[2013-08-30 21:07] #2 closed, assigned to TalAter

[2013-08-30 21:07] TalAter opened #19 "Can't change language after start() has been called"

[2013-09-01 22:17] #7 closed, assigned to TalAter

[2013-09-02 19:24] #13 closed, assigned to TalAter

[2013-09-02 19:58] TalAter opened #20 "Host demo site on HTTPS domain"

[2013-09-02 20:38] #20 closed, assigned to TalAter

[2013-09-02 20:39] TalAter opened #21 "Improve docs detail every public method"
init()
start()
abort()
debug()
setLanguage()
addCommands()
addCallback()

[2013-09-02 20:40] TalAter opened #22 "Improve docs"
- Pages hosted on HTTPS do not need to ask repeatedly for permission, whereas HTTP hosted pages do.

[2013-09-02 23:47] TalAter opened #23 "Consider BSD/MIT license"
As suggested by @rx

[2013-09-03 00:20] #8 closed, assigned to TalAter

[2013-09-03 01:05] #6 closed, assigned to TalAter

[2013-09-03 01:06] #4 closed, assigned to TalAter

[2013-09-03 22:25] #23 closed, assigned to TalAter

[2013-09-03 22:26] #17 closed, assigned to TalAter

[2013-09-03 22:27] #14 closed, assigned to TalAter

[2013-09-03 22:28] #9 closed, assigned to TalAter

[2013-09-03 22:50] TalAter opened #24 "If no browser support show notice"

[2013-09-04 00:02] #24 closed, assigned to TalAter

[2013-09-04 01:33] TalAter opened #25 "Detect small resolutions and modify unsupported message style"

[2013-09-04 08:49] TalAter opened #26 "Can receive a routing object"
For example
[code]

Should also be able to get multiple phrases for one url.

[2013-09-06 12:38] TalAter opened #27 "Investigate problem with demo site HTTPS"

[2013-09-06 12:38] TalAter opened #28 "Create demo video"

[2013-09-06 18:11] TalAter opened #29 "Make response to hello demo more noticeable"

[2013-09-06 18:23] #25 closed, assigned to TalAter

[2013-09-06 19:04] #29 closed, assigned to TalAter

[2013-09-06 19:37] #27 closed, assigned to TalAter

[2013-09-07 15:43] TalAter opened #30 "Allow OR in rules"
e.g.
[code]

[2013-09-07 15:44] TalAter opened #31 "Allow optional words or phrases in rules"
e.g.

[code]

[2013-09-07 16:03] TalAter opened #32 "Implement Grunt for minification and concatenation"
- Minify annyang.js
- Concatenate annyang.js + facebook.js then minify result

[2013-09-07 19:36] TalAter opened #33 "Allow adding regex as a command text instead of string"
e.g.
[code]

[2013-09-07 20:24] #31 closed, assigned to TalAter

[2013-09-07 22:40] #32 closed, assigned to TalAter

[2013-09-07 22:40] TalAter opened #34 "Add grunt-contrib-watch"
https://github.com/gruntjs/grunt-contrib-watch

[2013-09-09 19:16] #34 closed, assigned to TalAter

[2013-09-10 21:19] #5 closed, assigned to TalAter

[2013-09-11 04:10] jorgeguberte opened #35 "Permission dialog keeps showing when used with Backbonejs"
I didn't have any luck using it with Backbonejs, the permission dialog keeps showing up, as if in loop, doesn't matter if i authorize or not. [Here's the code](https://github.com/jorgeguberte/Wikify/blob/master/views/index.ejs), the annyang call is on line 118. And [here's the app running](http://morning-dusk-7497.herokuapp.com/)

[2013-09-11 10:02] TalAter opened #36 "Change the way start() receives the autoStart param so that it is part of a settings object"

[2013-09-11 10:41] TalAter opened #37 "Change autorestart to only happen once every 1 second"

[2013-09-11 10:55] #36 closed, assigned to TalAter

[2013-09-11 17:23] alrra opened #39 "Add link to the GitHub repo"
@TalAter I consider that it might be useful to add a link to this GitHub repo on the site. "Let's get started!" doesn't work for a good portion of the people visiting your website, portion from which a few would also be interested in the implementation/issues regarding the library.

[2013-09-12 22:49] TalAter opened #40 "Create bower package"

[2013-09-12 23:57] TalAter opened #41 "Grunt should combine demo site css files"
http://www.talater.com/annyang/css/main.css
http://www.talater.com/annyang/vendor/css/default.css
http://www.talater.com/annyang/vendor/css/github.css

[2013-09-13 12:15] TalAter opened #42 "Create cdnJS mirror"
https://github.com/cdnjs/cdnjs

[2013-09-13 13:09] TalAter opened #43 "Help make form speech input easier"
http://lists.w3.org/Archives/Public/public-xg-htmlspeech/2011Feb/att-0020/api-draft.html

[2013-09-14 00:17] isimmons opened #44 "is it possible to use this with node-webkit?"
I'm just learning node-webkit and also just found this library today. It works great in the chrome browser, and I am able to get a audio stream in my hello world node-webkit application via the webkitGetUserMedia plugin. But annyang doesn't seem to be working. No errors, just not doing anything.

By the way, just testing with a simple command:

[code]

[2013-09-14 09:08] #43 closed, assigned to TalAter

[2013-09-14 09:12] #35 closed, assigned to TalAter

[2013-09-15 20:48] TalAter opened #46 "Plugin: Password input"
Plugin for entering passwords.

Enter easy-to-remember, super-long, super-strong passwords quick and easy by saying them instead of typing them... e.g. "I ran out of oysters so I ran to the bank"
![](http://imgs.xkcd.com/comics/password_strength.png)

[2013-09-15 21:04] TalAter opened #47 "Plugin: Drop in functionality for showing a notification when listening, stopping, recognizing, etc."

[2013-09-17 15:32] TalAter opened #48 "Vocal CAPTCHA"

[2013-09-18 05:27] TalAter opened #49 "Annyang Wordpress plugin"

[2013-09-18 16:56] #42 closed, assigned to TalAter

[2013-09-18 20:11] TalAter opened #50 "Add link to CDN copy to site and README"

[2013-09-18 22:30] stevesloan opened #51 "Not compatible with android browser"
I have tried to get it working and have had no luck. Any plans to make this possible in the future. I have a project that would really benefit from this!

[2013-09-18 23:19] #50 closed, assigned to TalAter

[2013-09-18 23:20] #39 closed, assigned to nobody

[2013-09-18 23:45] #51 closed, assigned to TalAter

[2013-09-21 16:50] zoic21 opened #52 "Crash when two tab use annyang"
Hi,

When I open two tab or more with annyang the last tab works but the other crach are they anyway to avoid these (like do not load annayang if annayang is used by another tab) ?

[2013-09-23 09:40] keshavagrawal89 opened #53 "Keeps on asking Media Permission"
I don't know why its happening but I just plugged in the js file(I downloaded on github and hosted on my server and gave the path). When I reload my server page it keeps on asking the Media permission again and again and I keep on clicking "Allow" in chrome(Version 29.0.1547.65)

[code]

[2013-09-23 13:40] #53 closed, assigned to nobody

[2013-09-23 13:43] #52 closed, assigned to nobody

[2013-09-23 13:45] TalAter opened #54 "Remove type from script tags"
As pointed out by @alrra, they are unneeded.

[2013-09-23 13:51] #54 closed, assigned to TalAter

[2013-09-27 13:04] TalAter opened #55 "Handle flickr demo returns error"

[2013-09-27 13:10] #37 closed, assigned to TalAter

[2013-09-27 13:49] #41 closed, assigned to TalAter

[2013-09-29 17:15] zoic21 opened #56 "Pass additionals parameters to callback"
Hi,

Are they any solution to pass additionnal parameters to callback (not speak parameters) ? Somethink like this :

var commands = {
    'additional parameters': (function(myParam) {
      alert(myParam);
    })('plop')
  };

[2013-10-05 16:43] caio-ribeiro-pereira opened #57 "HTTP Chrome Bug"
Hi, I don't know why, but when I load a HTTP page with annyang on Google Chrome, the alert to "Allow" or "Deny" doesn't hide when I click on Allow Button. This alert appears infinitely.

By the way I am using Google Chrome on MacOS

Does anybody knows how fix it?

Thanks!

[2013-10-05 20:45] #57 closed, assigned to nobody

[2013-10-09 16:39] mgenev opened #58 "can this be made to work for spanish?"
or do you know of another lib that does this for spanish?

great work btw, i love this so much

[2013-10-09 18:10] #58 closed, assigned to nobody

[2013-10-11 14:11] TalAter opened #59 "Remove all console.log calls from library and add that functionality as a debug plugin"

[2013-10-11 14:57] TalAter opened #60 "Asking for ideas: Allow annyang to support external plugins"
I am looking for ideas, suggestions or known patterns on how to open up annyang to support external plug-ins.

These plugins should allow us to keep annyang as small and tight as possible, while still allowing the user to get additional features by picking and choosing the plugins they want.

Here are some things plugins might want to do:
* Add logging support to the library's basic methods. Allow

[2013-10-12 09:38] ravenjohn opened #61 "Catch network errors and not-allowed error"
It would be nice if you'll add a callback if a network error occurs or when the user denied permission to use microphone.

[2013-10-19 00:09] #61 closed, assigned to nobody

[2013-10-19 02:08] diestrin opened #62 "Add an API to remove commands"
I'll like to remove commands in run-time, but there's no API for this right now.

Regards.

[2013-12-08 23:00] #62 closed, assigned to nobody

[2013-12-15 22:18] ddsky opened #66 "prevent repeated confirmation of microphone usage in chrome"
Chrome keeps asking me whether I would allow or deny the page to use the microphone. Even after hundreds of clicks on Allow, it keeps asking me and the functionality of annyang does not work.

Any ideas why that is?

[2013-12-16 10:49] #66 closed, assigned to nobody

[2013-12-22 18:41] TalAter opened #67 "Analytics plugin"
Will track usage as actions in Analytics.

[2014-01-23 17:30] runvnc opened #69 "Not giving credit to Google or Microsoft for their speech recognition engines/services"
You have done a great job of making the HTML 5 SpeechRecognition API easier to use across browsers.  However, the way you describe your library as having no dependencies makes it sound as though you literally invented a way to do speech recognition in 2kb of JavaScript.  Quite a few people are going to see that and think hey if that guy can do it, why can't my programmer implement speech recogniti

[2014-01-23 17:51] #69 closed, assigned to nobody

[2014-02-08 13:35] ranbena opened #70 "Clarification - result speed"
Hey Tal, I've started playing around with Annyang and noticed slow `onresult` invocations. Between 5 to 10 seconds long.
I assume it's abnormal as [this demo](https://www.google.com/intl/en/chrome/demos/speech.html) returns results considerably faster.

Do you know the cause of this issue? Any tweaking available to speed things up?

Thanks, Ran

[2014-02-10 12:17] muthuraja opened #71 "I am using annyang framework for two of our websites and when I open those simultaneously on two tabs, the voice is not absorved on both the tabs"
Hi Talater

I am using annyang framework for two of our websites and when I open those simultaneously on two tabs, the voice is not absorved on both the tabs. It is working perfectly when I open it with only one tab.

For example : https://www.talater.com/annyang/ - If you open this URL in two tabs at a time, you can see the problem.

Please let me know the solution to use your framework in 2 diff

[2014-02-10 12:26] muthuraja opened #72 "I am using annyang framework for two of our websites and when I open those simultaneously on two tabs, the voice is not absorved on both the tabs"
Hi Talater

I am using annyang framework for two of our websites and when I open those simultaneously on two tabs, the voice is not absorved on both the tabs. It is working perfectly when I open it with only one tab.

For example : https://www.talater.com/annyang/ - If you open this URL in two tabs at a time, you can see the problem.

Please let me know the solution to use your framework in 2 diff

[2014-02-10 15:24] #71 closed, assigned to nobody

[2014-02-10 15:27] #72 closed, assigned to nobody

[2014-02-12 14:37] muthuraja opened #73 "Finally I found the solution for simultaneously open two tabs using annyang frame work"
Hi
I got Finally I found the solution. Its working well.
TalAter support this code in your framework.

annyang framework user all are face this problem.

This is the Code.

function handleVisibilityChange() {
  if (document.webkitHidden) {
    annyang.abort();
  } else {
    annyang.start();
  }
}
function speechStart() {
  annyang.start();
}
function speechStop() {
  annyang.abort();
}

document.

[2014-02-12 17:13] #73 closed, assigned to nobody

[2014-02-17 01:53] luiseduardobrito opened #74 "Annyang and Mobile Chrome Apps"
Any chance of get it working using the Chrome WebView from CCA?

https://github.com/MobileChromeApps/mobile-chrome-apps

[2014-03-15 23:18] sam2332 opened #75 "swear words being censored!"
Please, can we find a way to disable this by default

[2014-03-16 07:08] #75 closed, assigned to nobody

[2014-03-16 23:46] alanjames1987 opened #76 "Node.js Port"
I know the actual speech recognition part of annyang can't be ported to Node but I was wondering if the keyword identifier can be ported.

I would like to be able to instantiate an annyang object on the client that sends a query to a server. The server would then use a port or the annyang keyword identifier to match the phrase to a function I want to perform.

Feeding the server side annyang a str

[2014-03-27 00:05] Rudloff opened #78 "Commands with accents"
Hello,

It seems Annyang does not work if a command has an accent in it (e.g. 'réserver la table').
The debug log shows that the speech recognition is returning the command text but the command is not triggered:

[code]

Regards,

[2014-03-28 23:53] #78 closed, assigned to nobody

[2014-04-05 11:50] claybridges opened #80 "Single letter recognition"
I want to recognize single letters in the alphabet. Unfortunately, it seems these often don't ... "register". I've got debug on, and often nothing shows up in the console when I say "A", "B" etc. Is there a parameter setting that will accept short utterances, or something like that?

[2014-04-07 21:24] #80 closed, assigned to nobody

[2014-04-09 06:18] unmeshpro opened #81 "Any solution to add "loading" ability (by identifying whether the recognition has been performed)?"
@TalAter  I am using annyang.js with a three.js application and it seems quite disturbing not to know whether the speech is being recognized. Is there a way to monitor the state of request to recognize and the response from annyang so that I may add a loading or waiting animation?

[2014-05-17 18:44] virinchyp opened #82 "Annyang not working in Android Chrome browser"
Annyang (https://www.talater.com/annyang/) is not working when running in Android Nexus 4.4 Chrome browser. The Microphone is set to true , but commands are not being recognized .

[2014-06-29 14:02] radiumx3 opened #84 "Is the project still alive ?"
Or not worthing to get a look into it anymore?

[2014-06-30 19:03] ojvribeiro opened #85 "How to open a google search with Annyang?"
I want to say "search [term] on google" and then return the results in a new window. What code can I use?

[2014-07-09 17:49] #84 closed, assigned to nobody

[2014-07-09 17:55] #85 closed, assigned to nobody

[2014-07-11 11:16] J0ker98 opened #86 "Code issue"
I don't know what's wrong with this code, can you help me?

[code]

[2014-08-01 23:07] #86 closed, assigned to nobody

[2014-08-06 17:02] mesosteros opened #89 "No permissions check on local test"
I'm trying to test this locally and I don't get the microphone pemissions check from Chrome as I do on the annyang demo site.
I suspect this is what's stopping me from running the application.

[2014-08-09 17:54] #89 closed, assigned to nobody

[2014-08-21 21:01] #22 closed, assigned to TalAter

[2014-08-31 22:31] #70 closed, assigned to nobody

[2014-09-05 15:21] #44 closed, assigned to nobody

[2014-09-12 22:53] #28 closed, assigned to TalAter

[2014-09-12 22:53] #21 closed, assigned to TalAter

[2014-09-12 22:55] #40 closed, assigned to TalAter

[2014-09-18 03:01] alanjames1987 opened #91 "Unit Testing Annyang"
How would one go about unit testing Annyang. I know I can use QUnit or any other unit testing library to run the code, but how do I send sound to it?

I know this is really an issue with the webkitspeechrecognition object, but this seems like a good place to ask.

[2014-09-29 01:04] mohamedsalehamin opened #92 "count words"
is there any way to count words of what i say ??

[2014-11-22 23:14] #92 closed, assigned to nobody

[2014-11-22 23:38] #82 closed, assigned to nobody

[2014-12-09 11:50] #3 closed, assigned to TalAter

[2014-12-17 17:35] poshetz opened #95 "Safari?"
Hi, does this awesome project will work on Safari and more specifically Safari iOS ?

If it does not, is there any way to make it to work with the cordova or phonegap media audio capture plugin? https://github.com/apache/cordova-plugin-media-capture/blob/master/doc/index.md

thank you

[2014-12-19 07:42] paraskaneriya opened #96 "Not Working when browse from local drive"
When I try to open HTML file from local drive, for example, c:\annyang\index.html it does not work.
Does it have to be hosted on server like IIS or something to work?

[2014-12-21 16:23] #96 closed, assigned to nobody

[2014-12-25 16:28] youkochan opened #97 "How can I get the sentence i said?"
I want to show the result...  :)

[2015-01-02 15:52] getflourish commented on #97
+1

[2015-01-02 16:35] lmangani commented on #97
```annyang.debug();``` will display the results (and much more) in your console

If you need to do something with the result you can play with custom commands.
An abstract example:

[code]

[2015-01-02 16:46] youkochan commented on #97
@lmangani
Thank you very much

[2015-01-04 16:47] #97 closed

[2015-01-11 23:59] JaredCubilla commented on #44
+1

[2015-01-30 11:37] pieroit commented on #56
I have a difficulty passing parameters to the events callbacks. For example:

<pre><code>
// callback to register command history
annyang.addCallback('resultMatch', function( e ) {
     console.log( e );
});
</code></pre>

'e' is undefined. How do I access from the callback what command (and parameters) where issued?

Thanks :)

[2015-02-05 16:08] pieroit commented on #56
bump

[2015-02-17 23:44] alanjames1987 commented on #95
Annyang works by using the `webkitSpeechRecognition` object which is currently only available in Chrome.

Android has built in speech recognition but it does not allow for continuous speech recognition like Annyang does.

If you want an easy to use speech recognition for Android I recommend this one.
https://github.com/poiuytrez/SpeechRecognizer

[2015-02-17 23:47] alanjames1987 opened #100 "Hotword Detection"
I would like to have hotword detection availible in Annyang, basically allowing me to tell Annyang to not "activate" until a certain hotword is spoken. Essentally speech recognition would be working the entire time but only start caching results returned from the `webkitSpeechRecognition` from the first instance of the spoken hotword.

Similar to how Okay Google works, but without the plugin.

[2015-02-17 23:49] alanjames1987 opened #101 "Real Time Hypothosis"
It would be great to have an event listener which allows me to get hypothosis in real time, allowing the user to see what they are saying in real time, similar to how Android's speech input works.

I know the `webkitSpeechRecognition` allows this and I would be willing to add it once I have time.

[2015-02-17 23:59] TalAter commented on #95
@poshetz  - Safari hasn't adopted the SpeechRecognition standard yet.
Thanks @alanjames1987  :thumbsup:

[2015-02-17 23:59] #95 closed

[2015-02-18 00:03] TalAter commented on #100
Closing as a duplicate of #18

[2015-02-18 05:06] alanjames1987 commented on #30
+1

[2015-02-18 05:08] alanjames1987 commented on #100
I'm not meaning a command prefix, I'm meaning a string that when detected will trigger a callback function so that the user can be visually informed speech input has been activated.

[2015-02-19 00:42] jehovahsays commented on #101
yes it is possible. why would you want to do that?

[2015-02-19 03:17] alanjames1987 commented on #101
In order to allow

Basically to indicate that it's working.

Why would you question that giving a user real-time feedback is good?

[2015-02-19 07:13] lmangani commented on #81
https://github.com/TalAter/annyang/issues/97

[2015-02-19 19:09] alanjames1987 commented on #81
I've also requested a feature like this in #101.

[2015-02-19 19:57] jehovahsays commented on #101
piwik image tracker no javascript

[2015-02-19 20:15] alanjames1987 commented on #101
That reply has nothing to do with this thread.

@TalAter I don't know if the above comment is from a bot or a person trolling. In either case I will stop responding to it and defer to you to moderate.

[2015-02-25 14:55] lakshay774 opened #102 "Voice Catching Issues"
Hi,
TalAter Your Script Is Really Good I Have Used It And I Am Trying To Make Something Out Of It But There Are Some Errors In It Like It's Not Catching A Indian Name. Can You Help Me Out With That.
And I Want To Play And Pause Video's On Voice Commands Can You Help Me With That Too ?
If You Want To Check My Sample That What I Am Doing Please Go Through :
www.zebrogs.com/demo
The Script Is Somethi

[2015-03-05 09:25] TalAter commented on #81
@unmeshpro - is this similar to #47 ?

[2015-03-05 09:25] TalAter commented on #81
I would like to include such functionalities as plugins which would extend annyang's functionality, while keeping the base library lean.
@unmeshpro , @lmangani , @alanjames1987 - I would love your feedback on this at #60

[2015-03-14 10:21] TalAter commented on #102
Demo looks good.

As for Indian names, since you're running it with the language set to 'en-US' it will have trouble recognizing Indian names... my name isn't recognized either.

As for controlling a video, embed a video player that can be controlled via javascript, and call those commands from annyang.

[2015-03-14 10:21] #102 closed

[2015-03-14 10:22] #55 closed

[2015-03-17 19:38] wizardsambolton opened #105 "get annyang to display the weather"
the title explains everything, I want annoying to display the weather when i said what is the weather

please help

[2015-03-17 21:42] #105 closed

[2015-03-17 21:43] TalAter commented on #105
@wizardsambolton Find an API that can give the weather, and is controllable via javascript, and call those commands with annyang.

[2015-03-20 15:49] delaman commented on #91
I am also interested in this task.

Any progress from anyone on this?

[2015-03-20 18:19] JVRibeiro opened #106 "Connection problem caused by annyang"
<i>I am Brazilian and my English is terrible. Ignore it.</i>

I've been having problems with the use of Annyang on some computers. By allowing the microphone use, the internet connection is interrupted. In any site I try to open in any browser (of some computers) appears to connection failure screen.

After that, the internet does not work for a while (about 1 minute) and back to normal, if the ap

[2015-03-20 22:54] TalAter commented on #106
I can't really think of how or why this might happen. I suggest reporting a bug with SpeechRecognition with Google's Chrome team.

[2015-03-20 22:54] #106 closed

[2015-04-22 12:55] unmeshpro commented on #81
Yes.. @TalAter .. That's similar to #47 ..

[2015-05-04 20:47] Frostcraft opened #107 "Annyang is not running the command line."
I tried to get annyang to search Google on click of a button here is the code:
[code]
I then have a a button that when clicked, activates annyang.
The code is:
[code]
Clicking on the button activates voice listening but it does not search for what I say on Google.

[2015-05-04 21:26] Frostcraft commented on #85
This does not work properly

[2015-05-04 21:55] JVRibeiro commented on #85
I'm using this:
[code]

This makes the window open with 100% width and height. Works for me.

[2015-05-05 09:46] TalAter commented on #107
@Frostcraft - I tried your code and it worked after I fixed some basic javascript errors like, an extra closing bracket, and missing `</script>`
If you could show me the complete code, and explain exactly what happens, it will be easier for me to help you.

[2015-05-05 09:46] #107 closed

[2015-05-07 23:09] JVRibeiro commented on #105
A great API you can find here www.simpleweatherjs.com.

[2015-05-10 21:24] JVRibeiro opened #108 "Use comands with multiple optional words"
It would be good if we could use optional words in one command. One example is when we want to use more than one phrase for the same function:

[code]

In that case will be recognized both "notes" and "reminders" as the same thing. Is it possible?

[2015-05-14 09:21] Mahesh-Virupa opened #109 "It does not work in IE and Firefox"
HI,

This library does not support  IE and Firefox. All of our customer uses this browsers.
Are there any plans to support this in future and by what timeline ?

Thanks,
Mahesh

[2015-05-14 13:51] JVRibeiro commented on #109
For now just Google Chrome supports voice commands, this has nothing to do with Annyang. We hope that more modern browsers add support for speech recognition.

[2015-05-14 16:15] TalAter commented on #109
As @JVRibeiro said... annyang works according to the W3C's SpeechRecognition spec, and it is up to the browsers to implement the API.

I encourage you to take this question to Mozilla and Microsoft... :) I'd love to hear what they say

[2015-05-14 16:15] #109 closed

[2015-05-22 02:37] JVRibeiro opened #110 "Can I use Annyang for commercial purposes?"
I'm building a Siri-like application for home automation. All commands were defined in the script annyang. What is my limitation on a commercial use?

[2015-05-22 08:48] TalAter commented on #110
annyang is licensed under the MIT license, which means there aren't any real restrictions.
You can see it here: https://github.com/TalAter/annyang/blob/master/LICENSE

I would appreciate it if you added attribution to annyang's contribution to the project in the site/docs/etc.

And I would love to see whatever you build in action. Can you tell me more about the project?

[2015-05-22 08:48] #110 closed

[2015-05-23 13:29] JVRibeiro commented on #110
I proudly put a great reference to Annyang and you, Tal Ater. Without this library my work would be impossible, it fits perfectly with my code. Of course, you will be able to see a demonstration of my work. I only ask that you wait a little bit, all the promotional material is being made and I'll let you know as soon as possible. Is there any way that I can warn you, email or something?

The origi

[2015-05-25 20:36] wizardsambolton opened #111 "resume annyang with voice"
Hi say i wanted to pause annyang (with annyang.pause()) would it be possible to to resume with a voice command?
@TalAter

[2015-05-26 10:48] rmilesson commented on #111
No. Doesn't seem possible to do with annyang.

For further info check [here](https://github.com/TalAter/annyang/blob/ba1e79eb65754611e61ebed20e0733b3166d3d1b/annyang.js#L167).

[2015-05-26 11:42] JVRibeiro commented on #111
What you can do: Add two commands objects (commands and commands2). In the commands2 you put

'resume': function() {
annyang.pause();
annyang.removeCommans();
annyang.addComand(commands);
annyang.resume();
}

In commands object, you can use this function:

'pause': function() {
annyang.pause();
annyang.removeCommans();
annyang.addComand(commands2);
annyang.resume();
}

I hope it helps you. Sorry f

[2015-05-26 11:53] wizardsambolton commented on #111
@JVRibeiro Hi! it is now telling me that annyang.pause() is not  function

[2015-05-26 11:54] JVRibeiro commented on #111
Oops. I didn't noticed before my mistakes. Use this:

'resume': function() {
 annyang.pause();
 annyang.removeCommands();
 annyang.addCommand(commands);
 annyang.resume();
 }

And:

'pause': function() {
 annyang.pause();
 annyang.removeCommands();
 annyang.addCommand(commands2);
 annyang.resume();
 }

[2015-05-26 11:57] wizardsambolton commented on #111
@JVRibeiro nope aparently annyang.pause() is still not a function

[2015-05-26 12:03] JVRibeiro commented on #111
Try annyang.stop() instead.

[2015-05-26 12:07] wizardsambolton commented on #111
suprise suprise annyang.stop() is not a function

[2015-05-26 12:09] wizardsambolton commented on #111
@JVRibeiro ok fixed that problem now addcommand is not a function

[2015-05-26 12:14] wizardsambolton commented on #111
@JVRibeiro ok everything is workiing fine now exept the: nnyang. addCallback('resultNoMatch',) still runs, any ideas?

[2015-05-26 12:17] TalAter commented on #111
@JVRibeiro That's a great idea. I think you can even do without pausing/stopping and resuming/starting.

Simply:
[code]
and vice-versa

[2015-05-26 17:42] #111 closed

[2015-05-26 17:44] wizardsambolton opened #112 "removeCallback feature"
is there anyway to reset callbacks to default?

the callback being the noresults callback

[2015-05-27 23:53] GuiCarneiro opened #113 "Different word for same function"
Does annyang have support for different words to a same result?

Something like :
"[ Hello | Hi | Howdy ] James" : helloFunction

[2015-05-28 22:32] wizardsambolton commented on #113
yes it is '(hello)(hi)(howdy) James' : helloFunction. hope this helps!

[2015-05-28 22:44] JVRibeiro commented on #113
@wizardsambolton The only problem with this code is: If we say "James" only, it will be also recognized as a hello function. I don't know if we can use regex.

[2015-05-28 22:48] wizardsambolton commented on #113
ok then maybe '(hello james)(hi james)(howdy james)' : hellofunction

[2015-05-29 16:03] JVRibeiro commented on #113
Sam, noticed you're constructing a Jarvis system in JavaScript. Me too. Here is not the right place to talk about it. Let's talk?

[2015-05-29 17:52] wizardsambolton commented on #113
@JVRibeiro ok sure! my email is on my profile

[2015-06-03 08:18] Maikell84 opened #114 "Adding commands without hardcoding them"
Hello there!

I have a question regarding the commands-object.
This works fine:

        var commands = {
            'goodbye': function() {  closeApp(); },
            'help': function() { displayHelp(); }
            //and so on...
        };
        annyang.addCommands(commands);

But this object literal notation leads to the problem, that I am not able to add a command, which is "variable". B

[2015-06-03 19:20] vedraan commented on #114
@Maikell84 does this not work:
[code]

[2015-06-08 07:49] Maikell84 commented on #114
Hello.
Thank You very much - This works perfectly.

[2015-06-08 07:49] #114 closed

[2015-06-08 11:11] Maikell84 opened #115 "Use a "small" dictionary for commands instead the whole one."
Hello!

When I put debug mode on, I see, that although I have set a list of commands, the software searches __the whole__ english dictionary! Even though I only need about 20 Words.
E.g. I say "register" it recognizes:

    annyang.min.js:6 Speech recognized: Rochester
    annyang.min.js:6 Speech recognized: Register
    annyang.min.js:6 Speech recognized: regester
    annyang.min.js:6 Speech reco

[2015-06-17 13:39] #56 closed

[2015-07-03 09:46] poshetz opened #117 "Mic allowed callback"
How do i fire when microphone access is allowed by the user?

thank you for the great lib

[2015-07-03 09:53] poshetz opened #118 "How to show a loader when detection starts?"
I have a simple command like:

[code]

The problem is that annyang it takes long to recognize

How do i put a loader while processing recognition?

[2015-07-04 07:56] poshetz opened #119 "How to specify multiple languages"
How do i specify multiple languages codes to listen for?

Will this get both languages or only the last one i set?

[code]

Thank you a lot

[2015-07-05 07:32] TalAter commented on #119
Only the last language set when the user starts speaking will be used... That's just the way the SpeechRecognition engine works, nothing annyang can control.

[2015-07-05 07:32] #119 closed

[2015-07-06 09:35] poshetz commented on #119
crazy but ok, thank you for the awesome lib!

[2015-07-06 09:37] poshetz opened #120 "Very slow detection"
Hi, what may cause the detection to be so slow?

It takes like 4/5 seconds before to detect the command.

Is it annyang related?

Because the example on your website (https://www.talater.com/annyang/), looks very fast detected.....

[2015-07-06 09:38] poshetz commented on #118
I just noticed all the annyang dispatched events, hank you anyway.

[2015-07-06 09:38] #118 closed

[2015-07-06 09:38] poshetz commented on #117
just noticed the addEventListner('start'); for this, thank you anyway.

[2015-07-06 09:38] #117 closed

[2015-07-06 09:45] TalAter commented on #120
Are you using HTTPS or HTTP in your site? It works much, much faster in HTTPS because it is able to turn off continuous mode.

You can also turn continuous mode off yourself on HTTP by passing it in the options `annyang.start({continuous: false });`
It should work faster, but will also cause Chrome to repeatedly ask for permission to use the mic after every recognition (which isn't done in HTTPS)

[2015-07-11 06:47] poshetz commented on #120
@TalAter thank you understood now :)

[2015-07-11 06:47] #120 closed

[2015-07-11 18:14] ArkeologeN commented on #108
I believe, the match pattern shouldn't be the object key. So that, the pattern could always be a string or a regex. I think the author should move the command critria from key/value pair to value/sibling pairs. I didn't found a way to do something like:

[code]

Not sure, if I putting regex string in "quotes" could work either.

[2015-07-12 07:16] poshetz opened #121 "Numeric words?"
Is there any way to detect words like twenty or ten as numeric words?
command example:
[code]

[2015-07-14 18:34] sktguha opened #122 "add a option for callback for list of recognised words in the API"
I suggest adding an option in the api for the function to recieve the list of recoginsed phrases so that one can write custom logic with it

[2015-07-15 08:03] TalAter commented on #122
Hi @sktguha
Just so I can understand better, can you give an example of what the function will receive and how you would use it?

[2015-07-15 09:12] sktguha commented on #122
yes actually looking at it a second time it looks a bit complicated
perhaps it is possible to register an callback function to annyang as
[code]
annyang.addEventListener('recognised', function(arr, listOfCommands){
   //so arr contains the list of recognised phrases by the speech recognisation engine
   // listOfCommands contain the list of commands added upto now to annyang

});
[/code]

[2015-07-15 09:34] TalAter commented on #122
Can you give an example of how you would use this and what for?

[2015-07-15 22:04] sktguha commented on #122
well for example if I want to use a <b>custom logic</b> for triggering the actions. for example if I want to trigger the action even if the user has spoken, say the original phrase was "the expressway is to the left" but the user has spoken "the highway is to the left".
Also sometimes the user speaks the entire phrase correctly but it is recognised as seperate parts
for example "Hello how are you"

[2015-07-24 13:18] sktguha commented on #122
Hi,
Any updates ?

[2015-07-24 14:42] BoKu commented on #30
+1

[2015-07-24 18:55] TalAter commented on #30
Version 2.0.0 released yesterday supports regular expressions which should allow for all the cases described above.
@BoKu , @alanjames1987 , @Glavin001 , @gitnik  - I would love your feedback on the new feature - https://github.com/TalAter/annyang/releases/tag/v2.0.0

[2015-07-24 18:55] #30 closed

[2015-07-24 19:03] TalAter commented on #122
I just release v2.0.0 last night, inspired by your ideas.

One of the  features added, is that callbacks you register may now return with a list of recognized phrases.
For example:
[code]

Version 2.0.0 also added support for regular expressions in the commands, so you can do something like this:
[code]

You can read the full release notes here: https://github.com/TalAter/annyang/releases/tag/v2.0

[2015-07-24 19:03] #122 closed

[2015-07-24 19:06] TalAter commented on #113
Version 2.0.0 released yesterday adds support for regular expressions in commands, so you can now do something like this:

[code]

You can read the full release notes on this and other new features here: https://github.com/TalAter/annyang/releases/tag/v2.0.0

@JVRibeiro , @wizardsambolton - I would love your feedback on the release.

[2015-07-24 19:06] #113 closed

[2015-07-24 19:10] TalAter commented on #108
Version 2.0.0 released yesterday adds support for regular expressions in commands, so you can now do something like this:

[code]

@ArkeologeN  I used a similar API to the one you suggest here. I would appreciate your feedback.

You can read the full release notes on this and other new features here: https://github.com/TalAter/annyang/releases/tag/v2.0.0

[2015-07-24 19:10] #108 closed

[2015-07-24 20:04] TalAter commented on #33
Regular Expressions implemented in v2.0.0 - https://github.com/TalAter/annyang/releases/tag/v2.0.0

[2015-07-24 20:04] #33 closed

[2015-07-24 20:05] #19 closed

[2015-07-25 16:40] ArkeologeN commented on #108
@TalAter thanks for the update! I am gonna implement that and come back to you with feedback.

One more question, I suppose the recognition would working from dictionary, right? Would there be any possibility to teach the probability table to recognizer? What if I know the input would be from within the set of words (or bagOfWords)?

Something like this, may be? http://syl22-00.github.io/pocketsph

[2015-07-27 03:58] Glavin001 commented on #30
Awesome, regex support is great! Thanks!

[2015-07-27 20:53] alanjames1987 commented on #30
@TalAter That is a great way to add these and many more features. Thank you.

[2015-07-28 18:25] sktguha commented on #122
Hi,
Wow that is really great . Indeed the callback system seems superb. Thanks you very much for this.
Indeed anyang as a library is pretty good. I was able to start very fast with the demos on the homepage. I will try to contribute to the project if I get the time

[2015-07-29 11:37] TalAter commented on #122
Thanks. :+1:
I would love to see what you build.

[2015-07-29 11:51] TalAter commented on #30
:+1: Awesome.

[2015-07-29 12:46] #76 closed

[2015-07-29 16:06] sktguha commented on #91
I think sinon.js is great for creating mockups of inbuilt objects.
"Test spies, stubs and mocks for JavaScript"
http://sinonjs.org/
https://github.com/cjohansen/Sinon.JS

[2015-07-31 15:00] sktguha commented on #122
Oh sure.
https://github.com/sktguha/speechrecog
It is actually a simple demo of speech recognition based on iron man's video
The user has to speak the required words in place of iron man. They are shown instructions as speak "jarvis you there".
The video pauses at the points where iron man speaks, and on user speaking the required phrase, (in place of iron man) the video skips to the part where ja

[2015-08-04 17:07] NetOperatorWibby opened #124 "Doesn't work in Opera"
Before anyone says "this project only works in Chrome", I know this. However, these days, Opera is more like a clone of Chrome, with Opera flavoring on top. I can install Chrome Extensions (and use them!) in Opera.

I also do all my web development in Opera, before moving on to other browsers for fixes, if necessary. I just want to know if I can get annyang to work, it seems like a really great to

[2015-08-05 09:45] TalAter commented on #124
annyang is "Opera ready" :)

Unfortunately Opera still doesn't support the Web Speech API Specification. Hopefully this will change soon, as other browsers are slowly catching up. It looks like there's a lot of work by the Firefox team to add this soon, and hopefully Opera will follow.

To summarize, annyang is written to the Web Speech API Spec, and any browser that implements it will work with a

[2015-08-05 09:45] #124 closed

[2015-08-05 11:25] NetOperatorWibby commented on #124
Smh, terrible. Thanks for the info!

[2015-08-09 06:27] poshetz commented on #119
@TalAter sorry for disturbing again, i was just wondering, which is the best practice to translate commands into 4/5 languages, should i duplicate them all for each lang?

[2015-08-09 11:41] TalAter commented on #119
If I understand correctly, you'd like to define all the commands in advance and switch languages?

But I think it might be better to remove all commands, and register new ones every time you switch languages... This could prevent clashes between words that sound the same in different languages.

[code]

[2015-08-09 13:08] TalAter commented on #121
There isn't something specifically for that. Can you explain a bit more about what you have in mind, your problem, and maybe some examples?

[2015-08-10 10:14] poshetz commented on #119
@TalAter Hi thank you , what i meant was:
[code]
doing like this i'll have to duplicate do() for every translation !?
Thank you!

[2015-08-10 10:16] poshetz commented on #121
Hi, was just that sometimes speech recognition returns "one" or "1" when you say ONE :D

So i was trying to udnerstand which criteria it uses

[2015-08-10 10:18] poshetz opened #125 "addCallback resultNotMatch won't work"
Hi i simply added this code to your working example (exactly here https://github.com/TalAter/annyang/blob/master/demo/index.html#L93):
[code]

The problem is everything works fine but that event is never fired and nothing in console.

Debugging looks like only 'result' callback is returned but not the 'resultNoMatch'

What this could be?

Thanks!!

[2015-08-10 12:14] TalAter commented on #119
Or you could define the function once, and then pass it by reference or name:

[code]

[2015-08-10 13:15] poshetz commented on #119
@TalAter  Yes, i will try something like that, thank you a lot for your support!

[2015-08-10 22:55] TalAter commented on #125
I just tried it, and it works: https://codepen.io/anon/pen/ZGPjjr?editors=100

Just say a phrase that isn't registered (like "woodchucks are awesome"), and the resultNoMatch callback will be triggered.

[2015-08-10 22:55] #125 closed

[2015-08-10 23:28] TalAter commented on #122
Very cool idea! Would love to see it again when the restart issue is fixed.

As for Sinon... Yes, I've looked at that for https://github.com/TalAter/Carmen but I ended up using something called Georilla (which is the equivalant of what's needed for testing annyang, only for Geolocation testing). When I'm able to pursue writing tests for annyang, I'll look into that and Sinon again.

[2015-08-11 06:50] poshetz commented on #125
Hey thank you i was using an old version of annyang :/ sorry for that!

[2015-08-11 22:34] TalAter commented on #121
Google works in mysterious ways. It will be safest to try and capture both.

[2015-08-11 22:34] #121 closed

[2015-08-12 09:08] Sven65 opened #126 "Send text to annyang."
Hi, I think annyang is an amazing tool for voice recognision and I'm growing fonder of it every day.
Altough, I'd like to see a way to send text to it and have it be recognized by the engine and parsed via the commands object.

For example,

[code]

would parse the command "text"

Thanks

\- Mackan

[2015-08-12 09:33] TalAter commented on #126
Thanks @Sven65

Could you explain the use case for this? What are you trying to do? Could you not simply call the function that is mapped to that command?

[2015-08-12 09:35] Sven65 commented on #126
I can, altough, I'd like the simplicity of the commands object that is in annyang as this would make my application more user-friendly.

[2015-08-12 09:38] TalAter commented on #126
@Sven65 I prefer to only put things in the library that will be beneficial for the majority of users, so that we can keep it light, and easy to maintain in the long run.

What would be a generic use case for this that could benefit many people?

[2015-08-12 09:40] Sven65 commented on #126
It would be useful among browsers that doesn't have voice support and make the library more universal.

[2015-08-12 09:45] TalAter commented on #126
In browsers that don't have Speech Recognition support annyang doesn't load at all. This was done intentionally, so as to have the minimal impact on users that can't benefit from it (see https://github.com/TalAter/annyang/blob/master/annyang.js#L32).

So even if we add a `sendText` method, it won't be available to users in unsupported browsers.

It sounds like you might benefit from just using a r

[2015-08-12 09:47] Sven65 commented on #126
Oh, Okay, I'll have a look at the router, Thanks.

[2015-08-12 09:47] #126 closed

[2015-08-12 10:11] rmilesson commented on #126
It would also be useful for testing purposes, wouldn't it?

[2015-08-12 10:16] TalAter commented on #101
@alanjames1987 This is now possible in [annyang v2.0.0](https://github.com/TalAter/annyang/releases/tag/v2.0.0)

Since v2.0.0, the `result`, `resultNoMatch`, `resultMatch` callbacks are now called with a list of phrases the user said.

So you can do something like:
[code]

[2015-08-12 10:18] TalAter commented on #97
Starting with [annyang v2.0.0](https://github.com/TalAter/annyang/releases/tag/v2.0.0), the `result`, `resultNoMatch` & `resultMatch` callbacks are now called with a list of phrases the user said.

So you can do something like:
[code]

[2015-08-12 10:38] TalAter commented on #126
@rmilesson - Definitely. That is the use case I had in mind, and how I planned to implement testing of annyang... I did something similar with (the unreleased) carmen library (https://github.com/TalAter/Carmen/tree/master/test), using georilla to fake the geolocation object, and manually setting the user's location.

Having said that... implementing unit or functional tests for annyang is still so

[2015-08-12 13:02] rmilesson commented on #126
I could probably have a go at implementing something on Sunday unless I'm too hungover.

[2015-08-12 13:10] TalAter commented on #100
Hello again @alanjames1987, sorry for the late response on this issue.

Here's an idea of how to do this, using the new regular expression support available in v2.0.0

[code]

If what you had in mind was that the user would have to always say the hotword before each command, you can do something like:
[code]

[2015-08-12 13:12] TalAter commented on #126
Hungover?

Mental note: Check pull request 7 times :beers:

[2015-08-12 15:00] alanjames1987 commented on #101
Does the 2.0.0 release allow for continuous / real time results?

I don't see a way to enable that.

[2015-08-12 15:07] alanjames1987 commented on #101
Sorry, I was meaning `interimResults`. I don't see a way to enable that and that was what I was referring to when I called it "real time".

[2015-08-12 15:44] TalAter commented on #101
No.

I think I didn't add it originally because I didn't want to try and match interim results with commands.

But with the new callbacks that can be called with parameters, we could maybe implement interim results as a callback.

We'll need to check if we can enable it without affecting current functionality...

What do you think about this approach?

[2015-08-12 16:55] alanjames1987 commented on #101
I think that would be a great approach.

[2015-08-12 17:38] poshetz commented on #121
@TalAter  i think yes, i found many libraries and scripts to anyway convert numbers words to int and int to words so i think it's the only way, thank you for your support ! :+1:

[2015-09-07 13:54] chintanp opened #127 "What is the best / suggested method to input more than 1 parameter (*val)?"
Annyang command uses a *val to input values to the callback function. What should I do if I want to input more than one item ?

For example, I want to update a form based on user input. So I could have a command like

    set Name *val

then val would contain the Name value that I could then assign to the field. But if my form has lot of fields writing a command like this for all fields could be t

[2015-09-08 11:26] TalAter commented on #127
Regular Expressions to the rescue: https://github.com/TalAter/annyang/tree/master/docs#using-regular-expressions-in-commands

[2015-09-08 11:26] #127 closed

[2015-09-09 14:00] chintanp commented on #127
http://stackoverflow.com/questions/32440426/what-is-the-best-suggested-method-to-input-more-than-1-parameter-val-throug/32449660#32449660

Named-variables, is what I was looking for, thanks anyway. :)

[2015-09-10 08:47] TalAter commented on #127
Yes. If your parameters are single words, that would be easiest. I guess I misunderstood your case. :+1:

[2015-09-10 23:49] alanjames1987 commented on #100
I will try that out but that might be a good solution. It still seems slightly like a hack.

I was hoping this could be built into annyang. The code to interact with it might look something like this.

[code]

[2015-09-18 18:18] TalAter commented on #100
That's an interesting idea... and a very well thought out API!
I wish all issues were posted like this :+1: Thanks

How do you see the importance of allowing separate hotwordDetectionHandlers? Why allow just one hotwordTimeoutHandler but multiple hotwordDetectionHandlers?

Is there a specific **common** use case that requires multiple ones?
Would it be good enough to just return the captured hotwo

[2015-09-20 18:45] alanjames1987 commented on #100
I don't think multiple hotwordDetectionHandlers is very important. I added it in there because it was in line with the commands are currently added to annyang and I was trying to keep a similar API.

I think the idea of sending the spoken hotword to the hotword handler is great.

[2015-09-23 14:48] rmilesson commented on #115
Annyang only integrates with Chromes native voice recognition. The dictionary being used is on Chromes side of it all.

[2015-09-25 22:58] MartinKoutny commented on #112
+1

[2015-09-27 04:40] TalAter commented on #100
Sounds good.

Would you like to give this a shot and send me a pull request?

[2015-09-29 01:27] alanjames1987 commented on #100
I will look into this as soon as I can. I know I will have to use intermediate results, so I will be enabling that.

[2015-09-29 02:22] TalAter commented on #100
Enabling interim results seems like a very drastic change to how annyang works, and doesn't really seem required for hotword detection.

Is there a reason this feature can't be enabled without enabling interim results?

[2015-09-29 08:32] alanjames1987 commented on #100
I can only see real time hotword detection being added if we have real time results using interim results.

There might be a better way. If you think there is I would love to hear it.

[2015-10-21 22:18] addonmaster opened #131 "Ability to use annyang.js without a localhost or a online webserver"
Hi,

Would be it possible to use annyang.js without a localhost or a online webserver

I mean that annyang.js will just need the Internet to get the command the user said

I do not want to buy a host on the Internet for my project if it is possible not to

Thanks

[2015-10-21 22:21] addonmaster commented on #131
Hi,

Do you know if the javascript library for Python, can run annyang.js in the javascript library for Python ?

Thanks

[2015-11-06 20:35] mattvv commented on #11
Hey guys, Did you guys get any Grammar support working? From my understanding, this would allow me to use custom words?

Currently i'm getting around this by catching words that 'sound like' my custom words. Would be great to actually define these words.

[2015-11-09 22:10] staminna opened #132 "issue in using regex example"
Hi
I am having an issue getting the regex example to work.

'calculate :quarter stats': {'regexp': /^calculate (January|April|July|October) stats$/, 'callback':
}

Uncaught SyntaxError: Unexpected token }
assistent.js line 77

If I comment this line, annyang goes on and continues to listen and work nicely.
Can you help?

[2015-11-09 22:21] lmangani commented on #132
You have omitted the callback function itself (calculateFunction) - the full example is:

<pre>
var calculateFunction = function(month) { console.log(month); }
var commands = {
  // This example will accept any word as the "month"
  'calculate :month stats': calculateFunction,
  // This example will only accept months which are at the start of a quarter
  'calculate :quarter stats': {'regexp': /^c

[2015-11-09 23:47] TalAter commented on #132
Thanks @lmangani
@staminna Does that solve it? If you are still having an issue, please reopen and provide more details (full code), we'll try and help.

[2015-11-09 23:47] #132 closed

[2015-11-15 11:02] hasan3ysf opened #133 "Alternate words/commands"
Hi,
How can I write something like the below, I tried this code, but nothing happened, thanks

    '/Hi|Hello|Hey/i :name':  function(name){alert('this is: '+name);},

[2015-11-15 12:11] hasan3ysf commented on #132
I tried the below, but the optional word (the) became a mandatory one!:

    'calculate (the) :quarter stats': {
                      'regexp': /^calculate (January|April|July|October) stats$/,
                      'callback': function(quarter){alert(quarter);}
                    }

[2015-12-05 22:17] idupree opened #134 "Handling of spoken "newline""
When I speak "newline", speech recognition returns "\n" (a newline) rather than the word.  Unfortunately `results[i].trim();` deletes the newline character so I can't match it.  One possible fix, which I've been using, is `results[i].replace(/^[ \t]*/, '').replace(/[ \t]*$/, '');` to trim spaces but not newline characters.

[2015-12-07 15:35] panos138 commented on #3
hello,i just realize that this perfect project not support Greek.I think its not so good for Greeks and for Greece.,is there any possibility to add GREEK?

[2015-12-07 17:16] TalAter commented on #3
@panos138 - Unfortunately the language support is up to the browser... Google Chrome in this case. They choose which languages they support; I can't control this.

[2015-12-07 19:40] panos138 commented on #3
hi my friend,congratulations for the project,its awesome!!!
Google supports greek check here

https://www.google.com/intl/en/chrome/demos/speech.html

[2015-12-07 20:38] TalAter commented on #3
@panos138 - Then so does annyang.
[code]

[2015-12-08 05:59] panos138 commented on #3
thank you!!!

[2015-12-13 23:46] yarcowang opened #135 "I've tried this lib, here are some results others may want to know"
1. it requires chrome and connection to google (it means Chinese would have problem on this even you have chrome cause of GFW)
2. ~~it requires working on `https`, or else, it will keep on prompting the permission accept window~~ supply `autoRestart = false`
3. if you open two tabs, but on tab failed in some reason, it seems the other one wouldn't work until you close the failed one
4. ~~it can no

[2015-12-28 08:31] #135 closed

[2015-12-28 08:42] TalAter commented on #132
@hasan3ysf When using regular expressions, the only things that counts for matching purposes is what you put in under 'regexp' (`/^calculate (January|April|July|October) stats$/`). The key you entered (`calculate (the) :quarter stats`) for referring to this command is just a name and isn't used for matching with what the user says

[2015-12-28 08:43] TalAter commented on #133
Alternate words like this can be achieved using regular expressions.
See syntax samples here: https://github.com/TalAter/annyang/releases/tag/v2.0.0

[2015-12-28 08:43] #133 closed

[2015-12-28 08:48] TalAter commented on #91
Update: I have begun creating a small mock object which can be used for testing SpeechRecognition, and open sourced it under the name [Corti](https://github.com/TalAter/corti).

This is already in use for testing [SpeechKITT](https://github.com/TalAter/SpeechKITT).

I will set up the structure around testing annyang soon. Hopefully the community would be interested in helping write tests.

[2015-12-28 16:30] TalAter commented on #60
The first library to offer this kind of functionality is now available: [SpeechKITT](https://github.com/TalAter/SpeechKITT)

[2015-12-28 16:30] #60 closed

[2015-12-28 16:35] TalAter commented on #47
You can now easily display a visual GUI for interacting with annyang, including showing the status of it.

Check out: [SpeechKITT](https://github.com/TalAter/SpeechKITT)

[2015-12-28 16:35] #47 closed

[2015-12-28 17:20] TalAter commented on #81
It is currently impossible to do this because of what I believe is a bug in Chrome. I have opened a [bug report](https://code.google.com/p/chromium/issues/detail?id=572697) with the Chromium team, and am awaiting their response.

[2015-12-28 20:55] netzulo commented on #58
amazing!!!!!!!!!

[2016-01-01 12:37] sktguha commented on #91
awesome :+1:

[2016-01-01 16:33] swapnillubal opened #137 "Annyang to control gpio pins of raspberry pi"
Can i use annyang to control the gpio pins by running python coded files on raspberry pi 2??If yes ..How??
Im doing a home automation project in  which  we would give voicecommand to cntrl gpio pins..

[2016-01-01 16:49] lmangani commented on #137
You could try pair Annyang to something like [zkgpio.js](https://github.com/zetakey/zkgpio.js)

[2016-01-01 17:29] swapnillubal commented on #137
ok thnks for reply... that would be wrking for single devices(a LED bulb)
connected.. but wt if i need to run a python script ...i actually wanted to
run python files... which wud cntrl my gpio pins ..those python files are
using gpio libraries ... Even if the annyang would snd a command to run the
python file in the terminal.. it wud be.. cool.. if u hve any other
suggestion.. then let me know..

[2016-01-02 17:15] wizardsambolton opened #138 "Electron.atom.io"
Is there anyway to use annyang with electron.atom.io

[2016-01-02 17:25] lmangani commented on #138
From the project description:
```Electron uses web pages as its GUI, so you could also see it as a minimal Chromium browser, controlled by JavaScript.```

@wizardsambolton point your Electron app at any annyang-enabled website and it should work

[2016-01-02 17:26] wizardsambolton commented on #138
@lmangani I tried that it didnt seem to work...

[2016-01-02 17:27] lmangani commented on #138
@wizardsambolton logs speak tons

[2016-01-02 17:36] wizardsambolton commented on #138
@lmangani the weird thing is its not generating any errors

[2016-01-02 17:41] lmangani commented on #138
@wizardsambolton will try to replicate

[2016-01-02 17:42] wizardsambolton commented on #138
@lmangani thanks!

[2016-01-02 18:07] lmangani commented on #138
Quickly tested and Annyang seems to work fine in Electron when executing with root permissions _(sudo npm start)_ and simply pointing the default quickstart at https://www.talater.com/annyang/ returns a jQuery issue triggered by an Annyang action, suggesting ```SpeechRecognition``` support being alright.

[2016-01-02 18:40] wizardsambolton commented on #138
Thanks for you help!

- Sam Bolton, web developer
@wizardsambolton

[2016-01-02 19:11] wizardsambolton commented on #138
@lmangani yep got it now thanks!

[2016-01-02 21:59] #138 closed

[2016-01-05 05:57] austinkregel opened #139 "On result callback feature request"
I was wondering if there would be anyway to hook into an 'onresult' event. I want to be able to emit a socket.io event so I can have my server do a bit of data processing.

[2016-01-05 08:42] TalAter commented on #139
I believe the updated result callbacks introduced in annyang v2.0.0 would do the trick.

You can find more details in the [v2.0.0 release notes](https://github.com/TalAter/annyang/releases/tag/v2.0.0) and [API docs](https://github.com/TalAter/annyang/tree/master/docs#addcallbacktype-callback-context).

If this isn't what you're looking for, please reopen the issue and provide some more details on

[2016-01-05 08:42] #139 closed

[2016-01-05 08:46] TalAter commented on #138
Would love to see what you guys are working on :)

[2016-01-05 14:10] austinkregel commented on #139
That takes care of it for me :) thanks

[2016-01-05 16:33] TalAter commented on #139
Glad to hear! :+1:

[2016-01-14 10:50] TalAter commented on #91
:star: Great news, I've just pushed a number of commits that finally add unit testing to annyang.

The new setup uses [Jasmine](http://jasmine.github.io/) for testing, [Corti](https://github.com/TalAter/Corti) to mock the SpeechRecognition object in a testing environment and [Istanbul](https://github.com/gotwarlost/istanbul) for code coverage.

The test suite runs when you run the default grunt ta

[2016-01-14 10:50] #91 closed

[2016-01-17 18:55] staminna opened #140 "natural language."
Hi

I have seen a open source javascript/nodejs libraries for this, Is there any plans for integration with [natural language processing?!] (https://en.wikipedia.org/wiki/Computational_linguistics)

[2016-01-20 10:05] TalAter opened #142 "first-timers-only: Add test spec for annyang.removeCommands() with named variables"
#### first-timers-only

This issue is tagged **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Thank you for your help :heart:

#### The Issue

The test specs do not currently test for removing commands when they contain [named variables](https://github.com/TalAter/annyang/blob/master/docs/README.

[2016-01-20 10:34] TalAter opened #143 "first-timers-only: Add test spec for sentences with variables in the middle"
#### first-timers-only

This issue is tagged **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Thank you for your help :heart:

#### The Issue

The test specs do not currently test for adding commands when they contain [named variables](https://github.com/TalAter/annyang/blob/master/docs/README.md

[2016-01-20 10:37] TalAter opened #144 "first-timers-only: Add test spec to make sure named variables only match single words"
#### first-timers-only

This issue is tagged **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Thank you for your help :heart:

#### The Issue

The test specs do not currently test to make sure commands with [named variables](https://github.com/TalAter/annyang/blob/master/docs/README.md#commands-o

[2016-01-20 10:42] TalAter opened #145 "first-timers-only: Add test to make sure optional words don't match the wrong word"
#### first-timers-only

This issue is tagged **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Thank you for your help :heart:

#### The Issue

The test specs do not currently test to make sure commands with [optional words or phrases](https://github.com/TalAter/annyang/blob/master/docs/README.md#

[2016-01-21 14:19] siawyoung commented on #142
Hi! Can I take this up? I've been looking for a project to contribute to, and this seems like a great way to start :)

[2016-01-21 16:14] TalAter commented on #142
Merged #146 .
Thanks @siawyoung, looks great!

[2016-01-21 16:14] #142 closed

[2016-01-21 17:03] TalAter opened #147 "Add tests for annyang.addCallback('resultMatch')"
I've just added a test for the `resultNoMatch` event listener. But we still need to add a test spec that will test the `resultMatch`event.

The [docs](https://github.com/TalAter/annyang/blob/master/docs/README.md#addcallbacktype-callback-context) describe the event like this:

Check out the spec called `describe("annyang.addCallback('resultNoMatch'));` for an idea of what we need, and add a spec f

[2016-01-22 14:07] Endi1 commented on #145
Can I take this? I'll be able to complete this in a couple of days (I think).

[2016-01-22 15:06] evaldosantos commented on #144
I would like to pick it up. Will update you with results tomorrow.

[2016-01-22 16:08] TalAter commented on #144
Great! Let me know if you need any help.

[2016-01-22 16:14] #147 closed

[2016-01-23 08:46] TalAter opened #152 "first-timers-only: Add test to make sure resultNoMatch isn't called when command matched"
#### first-timers-only

This issue is tagged **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Thank you for your help :heart:

#### The Issue

- Callbacks added using `annyang.addCallback('resultNoMatch', aFunction)` will be called when a sentence a user said doesn't match any of the currently re

[2016-01-23 14:40] TalAter commented on #152
Closed by @theotow
Awesome work :+1:

[2016-01-23 14:40] #152 closed

[2016-01-23 15:19] kentcdodds commented on #152
Perfect `first-timers-only` issue! Thanks for doing this for the community :-D

[2016-01-24 05:51] siawyoung opened #154 "first-timers-only: Add test to make sure resultMatch isn't called when command has no match"
#### first-timers-only

This issue is tagged first-timers-only. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Thank you for your help :heart:

#### The Issue

- Callbacks added using `annyang.addCallback('resultNoMatch', aFunction)` will be called when a sentence a user said doesn't match any of the currently regist

[2016-01-24 09:30] TalAter commented on #152
Thanks @kentcdodds
Your article was an inspiration.

[2016-01-24 19:04] TalAter commented on #145
Closed by @Endi1 in #150
:tada:

[2016-01-24 19:04] #145 closed

[2016-01-25 02:19] 4tee commented on #100
Hi there, I am wondering if this feature has been added.

[2016-01-26 06:13] mdboop commented on #154
I've only ever made a contribution fixing a typo in some docs. Would I qualify for this? If so, I'd love to take this on.

[2016-01-26 06:15] siawyoung commented on #154
Sure, go ahead!

[2016-01-26 09:23] #154 closed

[2016-01-26 09:41] TalAter commented on #144
Fixed by @evaldosantos in #151

[2016-01-26 09:41] #144 closed

[2016-01-26 12:54] #137 closed

[2016-01-27 08:37] TalAter commented on #112
This feature was added in the just released [v2.2.1](https://github.com/TalAter/annyang/releases/tag/v2.2.1).

What do you think?

## removeCallback(type, callback)

Remove callbacks from events.

- Pass an event name and a callback command to remove that callback command from that event type.
- Pass just an event name to remove all callback commands from that event type.
- Pass undefined as event

[2016-01-27 08:37] #112 closed

[2016-01-27 14:25] chrifpa commented on #143
I'd like to try to do this. Should have time for it tomorrow.

[2016-01-28 06:58] 4tee opened #157 "Signal when annyang starts/stops listening"
Hi, Thanks for this beautiful library. I am using your library with angularjs. I have a question. I noticed that android devices actually get an audio cue when annyang is listening, but desktop chrome browser is not. To get more accurate result, I like to display some visual cue when annyang has started/stopped listening. Any advice, please? Thanks.

[2016-01-28 12:06] chrifpa commented on #143
Seems to already have been fixed

    it('should not match commands with more than one word in the position of a named variable', function () {
        var spyOnMatch = jasmine.createSpy();
        annyang.addCommands(
          {
            'Time for some :description heroics': spyOnMatch
          }
        );
        recognition.say('Time for some thrilling and fun heroics');
        expect(sp

[2016-01-29 08:39] TalAter commented on #143
There isn't one that tests for a positive match. Those two just test that named variables won't match `>1` and `<1` words.
It's a good idea to also have a test that it does match in case the matching functionality is broken by a future commit.

[2016-01-29 08:52] TalAter opened #158 "first-timers-only: Add test for result event"
#### first-timers-only

This issue is tagged **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Thank you for your help :heart:

#### Adding callbacks

Developers using annyang may register functions to be called when a result is returned from the browser's SpeechRecognition:
[code]

- Callbacks ad

[2016-01-29 14:06] chrifpa commented on #143
Got it, thanks :)

[2016-01-30 22:59] alanjames1987 commented on #100
It hasn't been added. I have had no time to work on this yet.

[2016-02-01 18:29] TalAter commented on #143
Close in pull request #159.

Great job @chrifpa.
Thank you :heart:, and congrats on your first pull request :octocat:

[2016-02-01 18:29] #143 closed

[2016-02-03 14:43] TalAter commented on #158
Closed in #160 by @MattCain

[2016-02-03 14:43] #158 closed

[2016-02-05 04:22] drdevnull opened #162 "Start & Stop does not work appropriately"
Great script! Looks like I found a bug:

Context: I have an application that listens to a changing set of commands every time a verbal command is given. The flow is:

1- start listening with commandListA
2- hear command
3- stop listening & remove commandListA
4- execute the command
5- start listening with commandListB
...etc.

To make this happen, I've been starting and stopping annyang using init

[2016-02-06 02:50] Kuchiriel opened #163 "Use variable in commands."
Its possible to use variable in commands?

Suppose:
var commands = {'hello :name': helloFunction};

var hello = "hello";
var commands = {hello + ' :name': helloFunction};

In this way, wont work, there is some way that i can make it work?

Thanks.

[2016-02-06 06:58] TalAter commented on #163
That is a JavaScript issue, not specifically related to annyang.
When constructing an object like that you can't use an expression to define a key.

You could do this instead:
[code]

[2016-02-06 06:58] #163 closed

[2016-02-06 07:29] TalAter commented on #157
Hi @4tee
You could [add a callback](https://github.com/TalAter/annyang/blob/master/docs/README.md#addcallbacktype-callback-context) to run a function and display some kind of indication when the `start` event fires.

You could also use [SpeechKITT](https://github.com/TalAter/SpeechKITT) to get visual indications like this. SpeechKITT is still under development, so I would love your feedback on wha

[2016-02-06 07:29] #157 closed

[2016-02-06 20:28] Kuchiriel commented on #163
Thanks @TalAter!

[2016-02-07 20:28] mbret opened #164 "Bad words"
Why can't we use bad words ?

None of the bad words I tried where recognized, is it normal ?

[2016-02-07 20:32] #164 closed

[2016-02-07 20:33] mbret commented on #164
In fact it's relative to the device microphone settings (which is not about annyang). Sorry ;)

[2016-02-09 18:35] TalAter opened #165 "first-timers-only: Add test to make sure pausing while speech recognition is off works properly"
#### first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Thank you for your help :heart:

#### Start / Abort vs. Pause / Resume

There are four ways to change annyang's listening status:

- `annyang.start` - Starts the browser's SpeechRecognition eng

[2016-02-09 20:31] Norybdigital commented on #165
Hello!
I just submitted my first github pull request.  I hope I followed procedure correctly.  I really like this project and look forward to working on/with it in the future!

[2016-02-10 01:08] 4tee commented on #157
Hi @TalAter , thanks for the reply. Not sure why I didn't get notification when you reply. So sorry for late reply. I ended up using `callback` as you mentioned. The only challenge was `start` event fired on first time and no more thereafter. Not sure if it is the right approach; I set the `start` function with `autoRestart: false, continuous: false` and manually call `start` function again whenev

[2016-02-10 10:47] TalAter commented on #165
Fixed by @Norybdigital in pull request #166

Congrats on your first :octocat: pull request, and thank you for the help :heart:

[2016-02-10 10:47] #165 closed

[2016-02-11 00:28] Ogarunite opened #167 "Userscript - microphone keeps popping up. Also a way to recognize speech faster?"
Hi, i've tried adding the examplecode to a tampermonkey userscript on chrome. However, every couple seconds chrome's popup window appears asking for microphone access. How can this be prevented to ask only once? I noticed that if i keep saying commands to the script, it won't question. But as soon as i'm quiet for about 5 seconds, the popup comes.

`// ==UserScript==
// @name          22
// @names

[2016-02-11 01:02] jamesarm97 commented on #167
Same here just today. From what I read if you have chrome accessing an http site it always asks for permission but if https it will remember or ask once. I was adding in this to the magic mirror project and basically ran into this and stopped for now.

From:  Ogarunite <notifications@github.com>
Reply-To:  TalAter/annyang <reply@reply.github.com>
Date:  Wednesday, February 10, 2016 at 7:28 PM
To:

[2016-02-11 15:03] Ogarunite commented on #167
The website it's supposed to run on doesn't contain https. There must be a way to bypass this message popping up every few seconds. Maybe inject the script directly, or something?

[2016-02-11 15:11] rmilesson commented on #167
I think you're running into a security measure by Chrome. Here you have a bunch of different solutions http://stackoverflow.com/questions/17069979/chrome-always-allow-webcam-over-http.

[2016-02-11 15:40] jamesarm97 commented on #167
Here is another that may be related but I only see values for do not allow and prompt. Maybe 1 is always allow?

DefaultMediaStreamSetting (deprecated)
Default mediastream settingData type:Integer [Windows:REG_DWORD]Windows registry location:Software\Policies\Chromium\DefaultMediaStreamSettingMac/Linux preference name:DefaultMediaStreamSettingSupported on:
Chromium (Linux, Mac, Windows) since vers

[2016-02-11 15:56] jamesarm97 commented on #167
I even found this but it didn’t seem to help:

https://creativcoders.wordpress.com/2014/08/18/chrome-always-allow-access-to-webcam-and-microphone-over-http-webrtc/

From:  Rasmus Milesson <notifications@github.com>
Reply-To:  TalAter/annyang <reply@reply.github.com>
Date:  Thursday, February 11, 2016 at 10:11 AM
To:  TalAter/annyang <annyang@noreply.github.com>
Cc:  James Armstrong 3 <jamesarmstro

[2016-02-11 16:15] jamesarm97 commented on #167
So annoying. I have tried everything. Clicking the X instead of answering allow or deny makes the box go away. Then you can click the X on the camera icon on url and say always allow which adds an exception. This works only until you refresh the page even though the exception is in my privacy settings. I don't get it.

[2016-02-11 18:13] TalAter opened #168 "first-timers-only: Add test to make sure resultNoMatch callbacks returns possible sentences"
#### first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Thank you for your help :heart:

#### Background

Callbacks added using `annyang.addCallback('resultMatch', aFunction)` will be called when a sentence a user said does match any of the currentl

[2016-02-11 20:14] timotius02 commented on #168
Trying to tackle this issue now. I'm just wondering why annyang is adding the words "and so on" for each possible sentence.

[2016-02-11 20:58] TalAter commented on #168
Hi @timotius02 , thanks for pitching in! :fist:

That is actually added by [Corti](https://github.com/TalAter/Corti), the mock object annyang's tests use to simulate speech recognition in a testing environment.

Because you don't have support for Speech Recognition in the command line, or in the headless browser used by the tests, I created a mock object called [Corti](https://github.com/TalAter/C

[2016-02-12 10:25] TalAter commented on #168
Fixed in #169 by @timotius02

Thank you for the help! :fist:

[2016-02-12 10:25] #168 closed

[2016-02-14 10:31] TalAter opened #170 "first-timers-only: Add test to make sure result callbacks returns possible sentences"
#### first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Thank you for your help :heart:

#### Background

Callbacks added using `annyang.addCallback('result', aFunction)` will be called after any speech is detected, whether a command was matched or

[2016-02-14 14:33] Charlotteis commented on #170
Another fantastic issue, going to post this on the @yourfirstpr twitter account tomorrow!

[2016-02-14 16:45] TalAter commented on #170
Thank you @Charlotteis :blush:

[2016-02-15 13:42] ZahraTee commented on #170
I'd be happy to take a look at this. :)

I'm just wondering whether there's a particular reason why "the" is repeated in the test spec outlined here? I notice it's the case for all of the test specs beginning "should call the callback with" in BasicSpec.js.

[2016-02-16 11:06] TalAter commented on #170
Thanks @ZahraTee, I'm looking forward to your contribution.

Regarding the 'the', that was just a typo. I'm pushing a fix for that now. Nicely spotted :eyes:

[2016-02-16 20:16] TalAter commented on #170
Closed in PR #171

Code looks great @ZahraTee.

Thank you for the help, and I hope it is the first of many :octocat: contributions to open source!

P.S. - When submitting pull requests, some project maintainers would ask you to submit your work as a single commit. In the future, you can squash multiple commits like the 2 you had in this pull request into a single commit before sending the pull req

[2016-02-16 20:16] #170 closed

[2016-02-20 09:40] charlesfries opened #173 "Chrome microphone access request doesn't go away."
OS X 10.11, Chrome 48.0.2564.116

The alert that says "my-domain wants to: Use your microphone" will not dismiss when I click the Allow button. It seems to accept my response but the window then opens again immediately.

[2016-02-20 10:09] lmangani commented on #173
Are you using https://?

[2016-02-20 10:18] charlesfries commented on #173
I'm actually just connected to my home server where my script is running. Just using http

[2016-02-20 10:20] charlesfries commented on #173
Just tested on my Windows 10 VM and it works. Must be something wrong with my configuration

[2016-02-20 11:33] jamesarm97 commented on #173
I have am still fighting it. I wish there was an easy way to compile chromium without that setting. Yes it goes away with https *but* then you cannot make any other script calls to non-https sites. One of the sites I am trying to get info from does http only. This is when the annyang is trying to be implemented with a magic mirror project.

--
James Armstrong

[2016-02-20 11:49] lmangani commented on #173
there are good reasons for this being in place, but also switches in Chrome to override them - I don't think its good to advice this with examples as those quickly change and are insecure, but you should be able to google them up and try them easily.

[2016-02-20 12:06] charlesfries commented on #173
I've found this page chrome://settings/contentExceptions#media-stream-mic

But how do I whitelist my server's IP?

[2016-02-22 04:07] shekit opened #174 "Annyang not working in Electron apps"
Hi,

I tried using Annyang for some speech detection in an Electron app and it doesn't seem to be working. I receive a typeError(not a function) whenever I try to use any of its functions. Any reason why this would be happening since Electron does run in a Chromium environment.

To overcome the CommonJS issues I'm loading annyang in the app using

`<script>window.annyang = require('/path to file')

[2016-02-22 06:43] wizardsambolton commented on #174
Really? That's weird it works just fine for me.

[2016-02-22 07:12] lmangani commented on #174
@shekit Annyang [works fine](https://github.com/TalAter/annyang/issues/138) with Electron when properly configured, the issue is most likely with your library loading approach

[2016-02-22 14:11] jamesarm97 commented on #173
I already tried whitelisting my local ip and it showed in the list but it still asks or seemed to ignore that. There is no button or way to whitelist your ip on that page. I think it is only done if it prompts to allow and you select remember or something like that. Still very much a pain at this point and unusable in my application (which relies on http data from other sources and some to no have

[2016-02-22 14:41] shekit commented on #174
Hi, still cant get it to work. I've tried all ways to include the script including a link to the CDN.

I'm also included my scripts like this:

`<script>require('./annyang.min.js')</script>
    <script>require('./global.js')</script>`

I reference annyang in global.js but I keep getting 'ReferenceError: annyang is not defined'.

If it seems to be working for you guys, then I'll move this issue to

[2016-02-22 17:03] rmilesson commented on #174
Is `./annyang.min.js` the correct path to the library?

[2016-02-22 17:07] shekit commented on #174
Yes, it's located at the same directory level as 'global.js'. global.js gets added correctly.

[2016-03-05 01:06] asantos00 commented on #167
Are you serving the file with a webserver or directly from file? Chrome blocks some APIs when you serve directly from file (sorry if it is a stupid question)

[2016-03-05 12:43] evancohen commented on #174
I've got this working in [evancohen/smart-mirror](https://github.com/evancohen/smart-mirror) (along with interim results, which I really should send a PR for).

[2016-03-10 22:50] mrigo opened #179 "Repeated confirmation of microphone usage in chromium"
Hi!
I'm trying to use annyang on my raspberry pi using Chromium.

## Expected Behavior
When I load my web page with my angualrjs app, If I agree the first time then Chromium doesn't need my permission anymore.

## Current Behavior
Chromium ask me forever confirmation of microphone usage.

## Context
The only solution is to block the mic, but I need the permission..

## Your Environment

* Version

[2016-03-10 23:13] lmangani commented on #179
Are you using https:// ?

[2016-03-11 09:02] mrigo commented on #179
No, I'm on localhost..

[2016-03-13 16:40] sdkcarlos commented on #179
@mrigo  due to "security" reasons, chrome will prompt the permission everytime is requested **if you're serving your file with http**. You need to force a **https** connection buying or creating a self signed ssl certificated.

This point is very clear in the homepage of the library.

[2016-03-16 16:56] Totoajax commented on #179
If you have another website open that uses the microphone (for example www.talater.com/annyang/), it seems like those will fight for the rights and only one of them can win. So both sites will be spamming, requests

[2016-03-16 16:58] Totoajax opened #182 "Verry slow"
When I run on localhost it is very slow to understand what I'm saying, sometimes ut takes up to a minute. It takes more time if I've "*tag" on the end of the command. On your website it's working really really fast, how do you do that?

[2016-03-17 11:51] TalAter commented on #182
The Speech Recognition runs significantly slower on HTTP than on HTTPS. This is because on HTTP it has to use continuous mode or else you would get repeated security notices ([code](https://github.com/TalAter/annyang/blob/master/annyang.js#L132)).

Let me explain the issue.

1. When you first turn on SpeechRecognition the browser asks the user for permission. If the connection is over HTTPS, the b

[2016-03-17 11:51] #182 closed

[2016-03-17 11:52] Totoajax commented on #182
Aha, thank you!

[2016-03-26 00:10] JeffCarpenter commented on #131
If you need free hosting, you can use Dropbox for static-only and Heroku for other sites.

And for the time being (as of March 25, 2016), annyang.js only works on Webkit based browsers since it depends on the W3 Web Speech API, so there is little doubt that the Python library you are referencing will not support it.

[2016-03-28 18:48] Laubre opened #184 "How to get Annyang to run a command in the Linux terminal"
Hello! I am currently working on modifying a smart mirror for my needs, and i would like to control a Wireless controlling module for a RGB system, i got the needed codes which i can run from the linux terminal (im on Raspbian Jessie) which do work,  but how would i create a command in Annyang to initiate that by voice..
For example, if i enter the following command into the Linux terminal 'echo -

[2016-03-29 03:57] wumpeth opened #185 "Using https:// but microphone permission doesn't even appear"
I had the repeating microphone permission problem that this forum helped me fix, then I got an SSL and now it no longer even appears! Why not!

[2016-03-29 09:56] TalAter commented on #185
Try clicking the video camera icon on the edge of Chrome's address bar, you may have it set there. Try also clicking the Manage microphone access button there to see if you have it set there.

![](http://i.imgur.com/UQC1STL.png)

If this doesn't work, please provide more detail about your problem if you want people here to be able to help you. For example, you did not even mention if the permissio

[2016-03-29 09:56] #185 closed

[2016-03-29 17:22] wumpeth opened #186 "DIFFERENT microphone permission problem"
My site earthcurio.us uses annyang.min.js for some simple voice-recognition. At first my website was hosted on Bluehost, and the microphone permission alert box that appears by the address bar in Chrome would either not go away when the buttons were clicked, or would reappear 20 seconds or so later.

Now I've switched to Namecheap and purchased an SSL, because I was told https:// would remember th

[2016-03-29 17:31] lmangani commented on #186
Check your console log for errors. You are probably trying to load the library using http:// (insecure)

[2016-03-29 19:01] wumpeth commented on #186
There are actually no errors listed!

[2016-03-29 19:04] TalAter commented on #186
Could you include a link where we could see the problem?
I looked at www.earthcurio.us and it doesn't include annyang in it.

[2016-03-29 21:09] wumpeth commented on #186
www.earthcurio.us/france.html, or www.earthcurio.us/tanzania.html, or any of the country pages

[2016-03-29 21:54] lmangani commented on #186
Unless i'm missing something... you fail to initialize annyang in your init function (js/script.js)
If i patch the initializer in a clone, annyang gets permissions and starts listening.

PS=You're building something nice! But i would **strongly** advice against using raw WAV files for audio streaming!

[2016-03-29 23:31] wumpeth commented on #186
You're right, in all my messing around I deleted the most important stuff.
Thanks!

Also, what would you suggest instead of .wav, and why?

[2016-03-29 23:31] #186 closed

[2016-03-31 13:42] TalAter commented on #174
@shekit
Did you require annyang in Electron's `main.js` file (Electron's main process) or inside the window (the Renderer Process)

You are saying annyang is *null* (and not *undefined*) which is what happens when annyang runs but finds that Speech Recognition is not supported. This makes me think you are loading it in an environment without Speech Recognition (e.g. `main.js`) and not an environme

[2016-03-31 13:42] #174 closed

[2016-03-31 14:00] TalAter commented on #174
This might also be helpful.

I just created a demo Electron app that uses annyang:
https://github.com/TalAter/annyang-electron-demo

[2016-03-31 14:02] TalAter commented on #138
This might also be helpful.

I created a demo Electron app that uses annyang:
https://github.com/TalAter/annyang-electron-demo

[2016-03-31 15:37] TalAter commented on #184
Unfortunately I can't really help with that, as I have no experience with that.

I suggest you ask in a place like Stack Overflow how to run a function in JavaScript that could do that... it is completely unrelated to annyang.

Once you know how to run that function, it is only a matter of calling that function from annyang. I'll be glad to help with it then.

[2016-03-31 15:37] #184 closed

[2016-03-31 15:38] #179 closed

[2016-03-31 15:42] #173 closed

[2016-03-31 15:45] #167 closed

[2016-03-31 15:47] TalAter commented on #162
Try this in the latest version of annyang.

I believe @soney fixed this bug in v2.2.1

[2016-03-31 15:47] #162 closed

[2016-03-31 15:49] TalAter commented on #140
Not at the moment. This is outside the scope of what annyang does.

[2016-03-31 15:49] #140 closed

[2016-03-31 16:30] #10 closed

[2016-03-31 16:31] TalAter commented on #16
Should be done in [Speech KITT](https://github.com/TalAter/SpeechKITT/)

[2016-03-31 16:31] #16 closed

[2016-03-31 16:31] #12 closed

[2016-03-31 16:31] #46 closed

[2016-03-31 16:31] #48 closed

[2016-03-31 16:31] #59 closed

[2016-03-31 16:31] #67 closed

[2016-03-31 16:32] TalAter commented on #115
Duplicate of #11

I really hope to be able to support this. Need to investigate the browser support for it (it is in the spec).

[2016-03-31 16:32] #115 closed

[2016-03-31 16:34] #26 closed

[2016-03-31 16:34] #49 closed

[2016-03-31 17:19] lmangani commented on #186
MP3 will provide the best [support across browsers](http://www.w3schools.com/html/html5_audio.asp), and huge savings in bandwidth and server costs. Just convert your audio with sox and replace .wav with .mp3 across your code, no other changes needed. Good luck!

[2016-03-31 19:33] #81 closed

[2016-03-31 19:34] TalAter commented on #134
Hi @idupree

My apologies for the long time it took me to get back to you.

I am not sure I understand your request? If this is still relevant, please reopen the issue and provide more information... preferably with a code sample.

Thank you.

[2016-03-31 19:34] #134 closed

[2016-03-31 19:36] #131 closed

[2016-03-31 19:40] TalAter commented on #74
It looks like that plugin handles all of the functionality on its own, so annyang won't work with it out of the box.

You might be able to hack something if you combine [Corti](https://github.com/TalAter/Corti) with annyang and pass the results from that plugin to Corti using its `say` command.

It seems to me like too much work for the payoff you are getting though.

[2016-03-31 19:40] #74 closed

[2016-04-06 10:19] unbolt commented on #100
Any plans on a timeframe for getting this feature implemented?

[2016-04-08 00:41] kelvien opened #188 "Annyang in Chromium"
So, I have been trying to develop an app that uses Annyang library.
However, when I test this in Chromium (in Raspberry Pi), it is not working.

I'm suspecting that the API requests limit in Chromium has passed (Without an API key). Therefore I went ahead to enable my own account's Web Speech API. Then I placed my API key and client ID, secret in my Raspberry pi environment variable, rebooted it,

[2016-04-09 16:48] kelvien opened #189 "Annyang in Angular's controller does not work as expected"
Hello,

This issue is pretty straight forward, I have started Annyang in a controller and it works as expected, the commands' callback function is able to apply the changes to my view through $rootScope.$apply.
However when I move to another state and come back to my initial state that has the Annyang commands, the callback function cannot apply the changes.

Here is the demo in plunkr:
https://pl

[2016-04-11 17:45] shekit commented on #174
Thanks for the help. I was including it in index.html.

Just to clarify, once I updated to annyang 2.4 to make it work I had to use one of these two techniques in the index.html file

[code]
I am using annyang in the global.js file. If I don't assign annyang to the window object then I still get 'annyang is undefined'

The second option is using @TalAter suggestion:
[code]
Here annyang is loaded i

[2016-04-11 17:47] ctrlaltdylan opened #190 "CDN not functional"
Unable to pull the annyang 2.4.0 from the example documentation in the cdn form:

GET file://cdnjs.cloudflare.com/ajax/libs/annyang/2.4.0/annyang.min.js net::ERR_FILE_NOT_FOUND

## Expected Behavior

Expecting to be able to pull the annyang script from the CDN.

## Current Behavior

GET file://cdnjs.cloudflare.com/ajax/libs/annyang/2.4.0/annyang.min.js net::ERR_FILE_NOT_FOUND

## Possible Solution

[2016-04-11 21:44] lmangani commented on #190
Hi @ctrlaltdylan
Loading the script using ```//``` will translate to ```file://``` when running off the filesystem.
You should have no issues when running your app on a webserver, or use ```https://``` when loading the library to receive the expected results.

[2016-04-11 21:55] ctrlaltdylan commented on #190
Learned you need a webserver. Doh!

Works perfect now. Excellent library thank you!

[2016-04-11 21:55] #190 closed

[2016-04-11 23:20] ctrlaltdylan commented on #188
@kelvien having the same issue, have you made any progress? I'm `console.log`'ing my commands but nothing it showing yet. Haven't isolated if it's a mic issue or annyang on the page.

[2016-04-11 23:27] shekit commented on #188
Having the same issue here though I have electron(uses chromium) running on MacOSX El Capitan. I swear annyang was working fine in my project but a couple hours later I tried again without making any change to my code and it refused to work. I pulled a couple of electron projects that use annyang and tried them and still did not get any response.

However I know it isn't a mic issue since annyang

[2016-04-12 03:09] kelvien commented on #188
Okay, so my conclusion with using WebSpeech API in Chromium is that there is a limit in using it. I have tested Annyang in RPi's Chromium for 4 consecutive days and it always works early in the morning (I'm assuming that the API limit has been resetted sometime in the morning) and it won't work anymore by the evening. (I don't change any settings that will affect my audio input/output)
https://www

[2016-04-12 05:59] shekit commented on #188
@kelvien how have you got chrome running on the RPi? I was under the impression that you can only run Chromium on it..

[2016-04-12 13:40] kelvien commented on #188
@shekit Sorry for not being clear in my answer, my solution now is to use Chrome in my personal computers (Not RPi). You are right, RPi can only run Chromium

[2016-04-12 15:12] v12 opened #191 "Automatic npm releasing from Travis"
I found that, despite proper versioning in the repository, the package itself is not being published to npm registry. A solution to that can be [Travis CI automatic releasing](https://docs.travis-ci.com/user/deployment/npm/). :rocket:

For instance, Travis CI can be configured to release only tagged commits from master branch (see details [here](https://docs.travis-ci.com/user/deployment/npm/#What

[2016-04-12 19:00] shekit opened #193 "Annyang.pause() not working"
## Expected Behavior

I am calling annyang.pause() when a certain command is detected and then calling annyang.resume() after a certain interval. annyang should stop detecting commands after I say the keyword.

## Current Behavior

I have annyang.debug() on and it continues to print out detected speech even after I have called annyang.pause(). Moreover when I call annyang.resume() , it says

`Fail

[2016-04-13 04:17] christinadan commented on #188
@shekit Have you been able to figure out the issue with Annyang + Electron? Am also running into the same issue...

[2016-04-13 04:18] shekit commented on #188
@kelvien's conclusion seems to be the most plausible. My app again started working in the morning and stopped in the evening. Has to be something with the API call limits.

[2016-04-13 18:21] nmstoker commented on #69
I think Annyang is excellent, but I do agree it would simply be helpful to include slightly more detail on what's actually going on (ie it's using the underlying speech recogniser facilities of the browser).

This would be useful for two reasons:
i. Giving credit
ii. Reassuring users about who actually accesses their speech data (I was looking to see if Annyang was somehow doing the recognition wi

[2016-04-14 07:29] TalAter commented on #134
Have you tried defining your commands using a regular expression? https://github.com/TalAter/annyang/tree/master/docs#using-regular-expressions-in-commands

Does that help?

[2016-04-14 07:58] TalAter commented on #191
Thanks for the suggestion!

Looking forward to seeing it in action with the next release

[2016-04-14 07:58] #191 closed

[2016-04-15 02:44] idupree commented on #134
@TalAter: Yes, I have tried that. It does not help because, as you can see from https://github.com/TalAter/annyang/blob/24f6ee218091e/annyang.js#L103-111 , trim() is called on the input before the regexp is exec()'ed on the trimmed input.

[2016-04-16 19:10] revett commented on #18
+1

[2016-04-16 19:11] revett commented on #100
+1

[2016-04-18 07:06] evancohen commented on #188
I've created a workaround documented here: http://docs.smart-mirror.io/docs/chromium_speech_keys.html

It's not the best solution (because you only get 50 requests/day), but at least it's a way to get your own quota rather than relying on the quota for chromium (which is universal to all users?)

[2016-04-20 22:55] revett opened #194 "(Android) Repeated microphone notification 📵🎙🤓"
When using **Annyang** on my my Android in Chrome, the microphone notification repeatedly goes off when accessing the site over HTTPS.

If I access it over HTTP, it allows me to complete a command, and then asks me to Block/Allow the use of the microphone again.

I **would like** to use HTTPS so it remembers my choice.
## Expected Behavior
- First time visiting site should ask for permission to us

[2016-04-20 23:03] lmangani commented on #194
Hi @revett
Out of preliminary curiosity, are you using a valid certificate on the server?

[2016-04-20 23:05] revett commented on #194
Hi @lmangani 👋

Thanks for the quick reply. Yep, its backed by the **GlobalSign Root CA** and is accepted in Chrome (green).

[2016-04-26 09:24] revett commented on #194
@TalAter any ideas?

[2016-04-26 09:32] lmangani commented on #194
Is this resource publicly available for others to try test/replicate for suggestions?

[2016-05-03 10:55] revett commented on #194
@lmangani - tested on two devices, using the same version of Annyang.

[2016-05-03 10:55] revett commented on #194
@lmangani - I could make a replica if 100% needed.

[2016-05-03 10:58] Kant73 commented on #101
Hi, I wanted to use your awesome library but I need interimResults on my project :/
Is it possible to implement that ? No news on this issue since 2015 :(
Currently, it's very difficult for somebody to know if the application listen him without interimResult.
I only need a simple render like this one : https://www.google.com/intl/fr/chrome/demos/speech.html (grey interim results, black final resul

[2016-05-07 15:49] psychonetic opened #198 "Offline Usage"
Is there any planned release to allow offline usage? It would be a nice feature, e.g. for buildung a mart home application and I guess the most users don't want to allow continues voice recognition.

[2016-05-10 02:32] kumarsubodh opened #199 "the js does not seem to be able to listen on android phone, browser works great"
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Version used:
* Browser Name and version:
* Operating System and version (desktop or mobile):
* Link to your project:

[2016-05-12 01:05] BlueAffinity opened #200 "Unable to find Cloudflare file"
I'd like to first start off by saying that I am very rusty in my html coding; and even rustier when it comes to javascript in my html.

I tried inserting the canned code from the annyang homepage into my HTML; and when I run the HTML in Chrome; the debugger says

 file://cdnjs.cloudflare.com/ajax/libs/annyang/2.4.0/annyang.min.js Failed to load resource: net::ERR_FILE_NOT_FOUND

Am I missing somet

[2016-05-12 05:56] lmangani commented on #200
Hi @BlueAffinity

Just replace ```file://``` with ```https://``` to load the resource from the network as opposed to your local filesystem. Hope this helps!

[2016-05-12 13:53] TalAter commented on #200
Thanks @lmangani

@BlueAffinity Even during development, you should be running your html on a local server, and not just opening the html in your browser directly. Speech Recognition, and many other things, don't work as well like that.

[2016-05-12 13:53] #200 closed

[2016-05-16 10:48] TalAter opened #201 "first-timers-only: Refactor debug message logging"
#### first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Thank you for your help :heart:

#### Background

When [debug mode](https://github.com/TalAter/annyang/blob/master/docs/README.md#debugnewstatetrue) is turned on, a number of annyang's function

[2016-05-20 00:18] arthchan2003 opened #202 "Robustness of annyang in Continuous Listening."
Hi,

I was playing with annyang.  For the most part it is working okay.  But for every 5-6 minutes or so, the API would become very irresponsive.  By "responsive", specifically I mean when turning on debug mode, there is not recognition result come back and line 106 of annyang.js just doesn't give any response. (So you can rule out it as a parsing issue.)

Another measure I tried is to reduce  the

[2016-05-25 15:25] #201 closed

[2016-05-25 18:41] prateek1985 commented on #182
@TalAter , Hi I am using annyang in HTTP and for fast response I have set continuous mode to be off in annyang but chrome has asked my permission for mic only once and rest all the time its working fine without asking any permission. But as mentioned in this thread that in HTTP the browser would continuously ask the user for permission after every sentence

So I want to know is it useful and safe

[2016-05-27 12:22] TalAter commented on #202
I found that Chrome's Speech Recognition implementation has a tendency to abort and stop listening after a while. This is unrelated to annyang.
What annyang does to combat this, is to restart Speech Recognition automatically when this happens.

I am not sure if you mean that after 5-6 minutes the browser's Speech Recognition no longer works, or annyang.

You can attach events to the browser's own

[2016-05-27 12:22] #202 closed

[2016-05-27 12:24] TalAter commented on #198
annyang relies on the browser's Speech Recognition engine. This engine does all of its work "in the cloud". So unfortunately, that would be quite impossible without replicating an entire speech recognition engine inside annyang.

[2016-05-27 12:24] #198 closed

[2016-05-27 12:29] TalAter commented on #193
Interesting. I was just able to replicate this issue.
Thank you 👍 I am looking into this.

[2016-05-27 15:04] prateek1985 opened #205 "Not asking for mic permissions repeatedly in HTTP"
## Expected Behavior

Hi I am using annyang in HTTP and for fast response I have set continuous mode to be off in annyang but chrome has asked my permission for mic only once and rest all the time its working fine without asking any permission. But as mentioned in lots of [threads](https://github.com/TalAter/annyang/issues/182) that in HTTP the browser would continuously ask the user for permissio

[2016-05-29 18:17] arthchan2003 commented on #202
Tal: Thank your for the info on debugging.  I hear you.  It does sound like an intrinsic problem of Chrome's speech recognition instead of issues on annyang.  I would first dump the events and see if I can diagnose the problem better.  Perhaps send out another mail.  Anyhow, thanks for your time to answer the questions.

[2016-05-30 06:09] TalAter commented on #205
Can you provide a code sample that shows it on HTTP in non-contiuous mode without re-asking for permission every time? I haven't seen that before? Unless you set it in the browser's permissions to trust that site always.

[2016-05-30 06:09] #205 closed

[2016-05-30 07:14] karm4ma commented on #66
I faced the same issue with my website. Any ideas to overcome the same?

[2016-05-30 11:33] prateek1985 commented on #205
<html>
<body>
<script src="annyang.js"></script>
<script src="speechkitt.js"></script>
<script src = "jquery-2.1.4.min.js"></script>
<script>
if (annyang) {

  var addText = function(tag) {
     document.getElementById("divTag").innerHTML = tag+" ";

  }

  // Add our commands to annyang
  annyang.addCommands({
      '*tag': addText,
  });

  SpeechKITT.annyang();
  annyang.setLanguage('en-GB');

[2016-06-01 07:45] sanjayshreedharan opened #206 "Annyang stops working after a bit of silence"
Annyang works perfectly fine, when it is started for the first time. But, after some time (silence), it doesn't seem to recognize what the user is speaking. Leave it for some more time and it again starts recognising but it recognises what was previously spoken as well.

Also, when I add callback for error, I was able to see error popping up every now and then. Is there a way to possibly know what

[2016-06-01 07:51] lmangani commented on #206
@sanjayshreedharan hard to tell if you don't share the location of your callback or what error was received. Could you extend with more information? Also what's the system load at the time this happens? You might be experiencing a local queuing/load side-effect of some kind since you still receive the previous keywords apparently, suggesting Annyang not being the problem.

[2016-06-01 08:02] sanjayshreedharan commented on #206
Just added these lines to my script.

[code]

After adding these lines, an error pops up in the console every now and then.

This problem occurs even when there is only one Chrome tab which is open and no other applications are running. So, am pretty sure it is not a problem of loading.

[2016-06-01 08:09] lmangani commented on #206
how about
[code]

[2016-06-01 09:04] sanjayshreedharan commented on #206
@lmangani The error is printed as undefined. There is no variable that is being returned, and hence it shows as undefined.

[2016-06-01 09:10] lmangani commented on #206
that's unfortunate - are you able to reproduce this issue with different client device/OS combinations?

[2016-06-01 09:13] sanjayshreedharan commented on #206
I've tried this with OSX El Captain 10.11.5 and was able to reproduce the issue.

[2016-06-01 10:34] sanjayshreedharan commented on #206
When I tried logging the events in recognition.onerrror, I received an error. I have attached the screenshot for reference.

![image](https://cloud.githubusercontent.com/assets/13719639/15706688/7d72e684-2812-11e6-968a-f2456ed0d7c0.png)

[2016-06-05 00:11] stilltrackin commented on #206
I'm seeing this same behavior on OSX El Capitan 10.11.5 with Chrome 50.0.2661.102 (64-bit).  It works fine while I'm using it, but if there is a minute of silence it stops responding.

[2016-06-05 06:30] TalAter commented on #206
Could you upload some code so we can see it? And please provide as many details as possible. For example, are you hosting the sample on http, https, localhost, file?

[2016-06-06 06:34] MariuszT commented on #100
+1

[2016-06-06 10:23] sanjayshreedharan commented on #206
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/annyang/2.4.0/annyang.min.js"></script>
    <script>
        if (annyang)
        {
            annyang.debug();
            annyang.start();
            setInterval( function()
            {
                listen = annyang.isListening()
                c

[2016-06-13 10:36] thiinkbox opened #207 "Capitals and Lowercase No Match"
Im wondering is there a way to bypass or ignore capitals? for example if i search the word "Place" the debug shows "place" and fails to identify it.. Im using a command to checkbox options.

'select *extra' : function(extra){
var
index = -1,
x = document.getElementsByClassName('facetwp-checkbox');
for( var i=0; i<x.length; i++) {
if( x[i].innerHTML.indexOf(extra) > -1){
index = i;
break;}}
if(inde

[2016-06-16 01:26] thurt opened #209 "Should be able to trigger commands when speech recognition is off"
I would like to write tests to ensure each annyang command performs the callback operation as intended on the webpage. Unfortunately, I am not able to get commands to trigger when annyang isn't listening.

## Expected Behavior
should be able to use `annyang.trigger` to fire callback functions for the purposes of testing when there may be no microphone or internet connection.

## Current Behavior
d

[2016-06-16 03:13] thurt opened #210 "Allow command object to work for commands which do not have a regexp"
I want to attach some other application-related properties to my command object.

Therefore, command object signatures that look like
[code]
I am converting to signatures like
[code]
The problem is that `annyang` doesn't treat these as equivalent. It will not load command objects like shown in the second signature. It will only load command objects which look like:
[code]

## Expected Behavior
It

[2016-06-16 04:39] anhlee24 commented on #206
i have the same issue, annyang was not listen after a bit of slience (about 1m or longer). No error show.
When i check listening by annyang.isListening(), it return TRUE.
Have you found the reason?

Thank you.

[2016-06-16 08:46] TalAter commented on #209
I actually wrote a library for [testing speech recognition](https://github.com/TalAter/corti) which emulates the browser's speech recognition API for this purpose exactly. It is called [Corti](https://github.com/TalAter/corti), and you can see it in action in [Speech KITT](https://github.com/TalAter/SpeechKITT/blob/master/test/spec/2_UISpec.js#L37) and annyang itself.

[2016-06-16 08:46] #209 closed

[2016-06-16 08:50] TalAter commented on #210
Interesting.

Can you share and example of why and how you need to use the extra properties on the command objects? This should help in implementing this in a way that will benefit the most users.

Thank you

[2016-06-17 09:47] TalAter commented on #210
See #211

[2016-06-17 09:47] #210 closed

[2016-06-18 16:26] xuchen commented on #100
Looks like the Snowboy hotword detection toolkit is exactly used for this purpose:

https://github.com/kitt-ai/snowboy

It works offline so no streaming data to Google until you explicitly activate it.

Currently there are discussions about a NodeJS module (https://github.com/Kitt-AI/snowboy/issues/4). Anyone wants to give it a try?

[2016-07-03 01:39] JeffZhang02747 commented on #207
Not sure what your code is doing. However, if you want to ignore the capitals, just convert the "Place" to lowercase, also convert the argument extra to lowercase. Then do the comparison.

[2016-07-09 19:19] AdamMiltonBarker commented on #124
Why does the website say:

"annyang plays nicely with all browsers, progressively enhancing browsers that support SpeechRecognition, while leaving users with older browsers unaffected.""

When it doesn't ?

[2016-07-18 04:21] VigneshVaidyanathan opened #213 "Can this be used to capture the sentences spoken rather than the commands?"
Hi,

I want to know if the plugin can be used to capture the sentences spoken by the user. I should be able to capture the text when the user speaks and show in a text area or a div. As far as I have seen it uses only commands to identify what action to do, is there a way to capture the speech and just display it?

[2016-07-18 18:22] TalAter commented on #213
Great question.

I just added it to the FAQ, along with an answer containing sample code: https://github.com/TalAter/annyang/blob/master/docs/FAQ.md#can-annyang-be-used-to-capture-the-full-text-spoken-by-the-user

[2016-07-18 18:22] #213 closed

[2016-07-19 06:25] andrew--grant opened #214 "Letter versus words"
My expectation was that if I provide a command for, say, the letter 'a', I could then show the locations of the note 'a' on an image of a guitar fretboard. This didn't work at all.

So I tried the word 'ayy' and other such variations, these didn't solve my problem. I was able to create working commands for 'c' (using 'sea') and 'd' (using dee). Not, however, with 'g' (using jee and similar) or 'f'

[2016-07-20 02:23] artforlife commented on #188
Since you gentlemen say that it works in Chromium, should I assume that I can use it in an Ionic app?

[2016-07-20 03:51] evancohen commented on #188
@artforlife I've done this before, it works :) you are going to want to use crosswalk and the Cordova media plugin. Because it's an Android user agent you get unlimited speech requests, so you don't need your own custom keys (as far as I know).

[2016-07-20 04:06] VigneshVaidyanathan opened #216 "The 'result' event of annyang is called many number of times."
hi,

I have a button to indicate speech recognition active. When the button is clicked, the speech is recognized and when clicked again, it is stopped. So in that, I am calling the 'start' method and then the 'pause' on page load just to wait to recognize until the button is clicked. On button click, I am calling resume method to start listening. Again, when the button is clicked, I am calling the

[2016-07-20 07:03] mcollovati commented on #216
You should initialize your callbacks only once (before start for example), not at every button click.

[code]

Or else you must remove them on pause (anyang.removeCallback)

[code]

[2016-07-20 17:56] TalAter commented on #216
Thanks @mcollovati :+1:

Events can have multiple listeners on them. Your code adds another listener every time you click that button. Just add them once, or remove them when you `abort()` or `pause()` annyang

[2016-07-20 17:56] #216 closed

[2016-07-21 01:09] artforlife commented on #188
@evancohen Since you have done it, what is the most efficient way of doing this? I currently have a MEAN stack app that I will be porting to Ionic as well. The voice feature is not implemented on it yet, but I have been playing around with it. On the mobile app, the voice feature becomes much more crucial.

[2016-07-21 01:57] macdonst commented on #188
@artforlife oh, if you are going to use Cordova you can try my plugin on Android/iOS. https://github.com/macdonst/SpeechRecognitionPlugin

[2016-07-21 02:12] evancohen commented on #188
In an existing ionic app run:
[code]
Now `webkitSpeechRecognition` should work just as it does in Chrome (without needing to add keys). Two caveats:

- This will only work on Android devices that have a speech recognizer (which is bundled with the Google Now app), so using a device like the Kindel Fire won't work unless you sideload that app.
- The app will ding with the native sound, you have no

[2016-07-24 21:22] alecbenson commented on #206
Getting the same problem... Anyone know what's up?

[2016-07-25 14:01] MuhammadUzair opened #218 "official site not working in chrome browser"
![any](https://cloud.githubusercontent.com/assets/15572020/17103917/0919c34a-529a-11e6-9298-1be842662589.jpg)
## official site not working in chrome browser

Browser keeps asking me whether I would allow or deny the page to use the microphone.
When I allow them then nothing happen.When i refresh page it come again.

## Environment

Google Chrome	= 53.0.2772.0 (Official Build) canary (64-bit)
OS

[2016-07-25 15:24] TalAter commented on #218
Do you have a microphone on that machine? Is it configured correctly? Your screenshot says: "Microphone: None available"

[2016-07-25 15:24] #218 closed

[2016-07-25 21:29] MuhammadUzair commented on #218
It's microphone configration issue.

Thank you for Respond.

[2016-07-27 02:57] artforlife commented on #189
Greetings,

I am also trying to use Annyang in an angular controller. Have you been able to resolve your issues? Is this a path worth following?
Is it as simple as adding the Annyang instantiation code into the controller? Or is there more setup needed?

[2016-07-27 05:01] kelvien commented on #189
I can't resolve this particular issue. I think it is better to instantiate Annyang from a Service. There's a lot of example in the internet that uses Annyang as a service.

[2016-07-29 11:11] Mahesh-Virupa opened #219 "Annyang not able to listen after dialog window OR pop window opens from parent window"
Annyang not able to listen after a dialog or pop up window opens.
When I open a dialog or pop up window, annyang stops listening the command. Not sure what is the issue here.
## Expected Behavior
It should keep listening as dialog or pop up window is a part of parent window itself.

## Current Behavior
It is not keep listening when a dialog or pop up window opens.

[2016-07-31 01:05] artforlife commented on #66
I am also having this same issue. What is interesting, my local environment works well; however, when I push it to production (AWS EC2 instance), the site repeatedly asks me to allow or block the usage of microphone every 5-10 seconds. Does anyone know why this happens?

[2016-07-31 01:06] artforlife commented on #205
I am also having this same issue. What is interesting, my local environment works well; however, when I push it to production (AWS EC2 instance), the site repeatedly asks me to allow or block the usage of microphone every 5-10 seconds. Does anyone know why this happens?

[2016-07-31 01:07] artforlife commented on #173
I am also having this same issue. What is interesting, my local environment works well; however, when I push it to production (AWS EC2 instance), the site repeatedly asks me to allow or block the usage of microphone every 5-10 seconds. Does anyone know why this happens?

[2016-07-31 09:54] lmangani commented on #173
Any reason why you decided to copy-paste the very same text in 3 existing issues rather than open your own with proper details?

This being said, you need to describe your setup and settings in more detail. Are you using ```https``` in production?

[2016-08-01 07:41] Mahesh-Virupa commented on #219
Hi All,

Any update on this ?

Thanks,
Mahesh

[2016-08-08 01:05] SpyMachine opened #220 "Unable to use Annyang on Mac in Electron"
I'm trying to build an Electron app using Annyang on my Mac (10.11.5) but it is failing. I've done some rudimentary debugging and it looks like Annyang keeps trying to restart itself but I haven't figure it out beyond that.

I have tried the "annyang-electron-demo" and am getting the same results.

[2016-08-09 00:52] daniel3d commented on #138
Reade here about the problem
https://www.chromium.org/developers/how-tos/api-keys

[2016-08-09 10:25] TalAter commented on #220
I believe this might be due to the same issue described in #138.

For a software to use Google's Speech APIs, it needs a API key... and it looks like Electron has passed their quota. Hopefully they are working on allowing developers to use their own keys.

See the discussion in #138

[2016-08-09 10:25] #220 closed

[2016-08-10 10:16] daniel3d opened #222 "recognition.onerror not passing event object to invokeCallbacks"
Hi i think the function recognition.onerror need to be updated
[code]

for example im trying to find the event error with this function but the event is not passed to the callback by passing the event object to the invokeCallbacks(callbacks.error, **event**); is fixing it not sure if it was not passed on purpose.

`	annyang.addCallback('error', function(event){
		console.log(event);
	});
`

[2016-08-16 13:48] TalAter commented on #219
Can you provide a way to reproduce this issue?
There is simply too much info missing for anyone to be able to check this

[2016-08-16 13:48] #219 closed

[2016-08-16 13:59] TalAter commented on #188
Thank you @evancohen for all the awesome work.

As you are the person most familiar with this issues, I have got to ask... would you consider writing a few Q&As about these issues for the [FAQ](https://github.com/TalAter/annyang/blob/master/docs/FAQ.md)? Looks like it could help a lot of people.

[2016-08-16 13:59] #188 closed

[2016-08-16 17:12] evancohen commented on #188
@TalAter It would be my pleasure. I'll take a stab at it this week.

[2016-08-19 11:44] atchyut-re commented on #193
Hello, Shekit that issue is because of the usage of annyang.start() command you might have used for the auto start of speech recognition on page start. annyang.resume() is being execute and starting the voice recognition at same time annyang.start() stating that recognition has already started.

[2016-08-22 07:55] TalAter commented on #193
The following code replicates the issue:
[code]

I believe I have found the problem in annyang, and hope to release a fix later today.

[2016-08-22 09:43] TalAter commented on #199
Incomplete bug report

[2016-08-22 09:43] #199 closed

[2016-08-22 13:01] #193 closed

[2016-08-22 13:29] #189 closed

[2016-08-22 13:32] TalAter commented on #124
Can you explain why you say it doesn't?

[2016-08-22 15:16] TalAter commented on #193
This issue was caused because annyang was set to autorestart and it was in continuous mode (which caused it to stop and restart after every sentence recognized).

When annyang restarted itself, it also resumed itself (turned off the paused state).

This has been fixed and released as [v2.5.0](https://github.com/TalAter/annyang/tree/v2.5.0).

Thanks for the help identifying the problem.

[2016-08-24 19:51] TalAter commented on #222
Hi @daniel3d.

Completely by coincidence, and before I even saw this issue, I added this exact feature, using this exact code in 6199791bfc33278a51c26f65d85632e7704e0d2f 😄.

It is available in v2.5.0.

[2016-08-24 19:51] #222 closed

[2016-08-28 01:33] ptytoo opened #224 "I can't use annyang api before 4pm."
Hi, I am a student living in South Korea, and I'm using annyang api on my raspberry pi.
But there's a problem.
I can't use annyang api before 4pm......
After 4pm, it works perfectly. And there is no problem when I run my web page with chrome on my desktop even before 4 pm!!.... How can I solve this problem??
(I think this problem is related to local time.)

## Expected Behavior

## Current Behavio

[2016-08-28 07:44] TalAter commented on #224
Hi @ptytoo,

annyang uses the browser's speech recognition engine... In Chrome this relies on Google's speech recognition which is done in the cloud. Unlike Chrome, other programs that use the same API (like Chromium, which is probably what you are using) use their own API keys to access the speech API, and are limited to a certain number of requests per day.

Your 4 pm is probably when the daily

[2016-08-28 07:44] #224 closed

[2016-09-02 13:04] busbyk commented on #101
Thanks @Kant73 ! I used that code to implement interim results as well and it's working great.

[2016-09-02 19:10] TalAter commented on #207
Just like @JeffZhang02747 said, it seems like something that can be solved in your code by changing the case or making your queries case insensitive. I am not sure what you mean by "search the word Place".

If you still require help, it can be helpful if you provide the simplest code possible that can reproduce your issue.

[2016-09-02 19:10] #207 closed

[2016-09-07 07:39] atchyut-re commented on #194
This is fixed and the behavior on mobile with respect to remembering the user's permission is the same as on desktop from M33 for Chrome on Android.

Ref:  https://code.google.com/p/chromium/issues/detail?id=274022&can=1&q=webrtc%20permission&colspec=ID%20Pri%20M%20Iteration%20ReleaseBlock%20Cr%20Status%20Owner%20Summary%20OS%20Modified

[2016-09-07 09:12] revett commented on #194
@atchyut-re nice spot! Do you know the Chrome version it was released on?

[2016-09-07 11:51] atchyut-re commented on #194
Sorry, @revett  I had no idea.

[2016-09-07 15:00] TalAter commented on #201
Thank you so much for the help @Alcofribas and @vikas-bansal :+1:

[2016-09-07 21:17] TalAter commented on #194
Thanks @atchyut-re 👍

Unfortunately, the issue of the microphone notification noise triggering over and over again is still a problem with Chrome for Android.

[2016-09-10 07:16] atchyut-re commented on #193
Thanks for the update TalAter,
But this `Failed to execute 'start' on 'SpeechRecognition': recognition has already started.` error is being shown. When I use `annyang.resume();`

[2016-09-10 20:52] TalAter commented on #193
@atchyut-re  I am aware of this, and it is by design.

But you are right, it is not ideal... so I just took another look at it to see if it would be possible to change this behaviour.

Since the browser's Speech Recognition object does not expose anything that would allow us to check if it is on or not, we would need to test against annyang's `isListening` variable.

We could test `if (isListening

[2016-09-12 09:05] atchyut-re commented on #193
What you said was right and can be done for time being.

But the annyang.pause() is not pausing the recognition for long time. When it is called, it is doing good. for some time, after that it is resuming itself.
This is causing the error `Failed to execute 'start' on 'SpeechRecognition': recognition has already started.` when annyang.resume() is triggered.

This is what I had observed till now.

[2016-09-12 09:47] TalAter commented on #193
This should be fixed by now. Have you observed this in v2.5.0?

If so, please provide code that reproduces the issue so it will be easier to understand and fix this.

Thank you.

[2016-09-14 11:51] dpmontero commented on #18
+1

[2016-09-14 11:58] dpmontero opened #225 "Any solution for mute beep sound when the speech recognition not undestand"
Are there any solution for mute the beep sound of speech recognition?

Not valid mute the volume of device or speaker.

Thanks!

[2016-09-14 15:08] namel commented on #194
@TalAter - Eventually I switched to native webkitSpeechRecognition -  :(
when I use the native API I get almost no notification noises.

[2016-09-14 15:13] revett commented on #194
@namel so you stopped using annyang?

[2016-09-14 21:11] TalAter commented on #194
@namel Could you share your code? If I could see what you are doing different, we may find a hint for the problem.

Thanks :+1:

[2016-09-14 21:30] TalAter commented on #225
I am guessing you are talking about the repeated beeps on mobile devices only?

We are discussing this on #194, but still haven't found a solution yet.

I am closing this as a duplicate issue. If this is wrong, please reopen and provide more details on the problem along with code to help reproduce the issue.

Thanks :+1:

[2016-09-14 21:30] #225 closed

[2016-09-17 15:48] hdezela opened #226 "Google Cloud Speech API"
Could it be possible to use with the [Google Cloud Speech API](https://cloud.google.com/speech/) in order to overcome the daily limits on alternative browsers?

[2016-09-18 10:56] namel commented on #194
@TalAter

My code isn't neatly organized - but the jist of it is that I needed to start and stop and specific points in time.  And once it restarted, it had to remain continuous.

As I re-read the annyang API, it seems like I could have done this with `start({continuous:true})`,  `pause()` and `resume()`.

The real problem is that I mistakenly thought I could do better than Annyang on android beca

[2016-09-18 22:42] Kuchiriel opened #228 "There is no function to show current version."
It will be nice if is possible to add some function to return the software version, like:

annyang.version()

[2016-09-19 12:28] TalAter commented on #228
Hi @Kuchiriel

Could you explain the use case for this? Why do you need this, and how would you use it?

Understanding how it is used, helps plan a better API for annyang.

Thanks.

[2016-09-19 14:30] BurakDev commented on #226
no

[2016-09-28 06:53] evancohen commented on #226
It's not quite ready for prime time, but I'm building a speech recognition framework (with hotword detection and Google Cloud Speech): https://github.com/evancohen/sonus

My plan is to enable people to use annyang as one of the command recognition systems, but I haven't quite gotten to that work yet.

[2016-09-28 07:25] evancohen commented on #100
Now that we've finished the snowboy node module, I can continue with my master plan!

Because annyang is such an awesome library, there have been loads of people ([myself included](https://github.com/evancohen/smart-mirror)), that have used it for "non-web" (Electron or otherwise) projects. Just to make my point, there are over 700 forks of @TalAter's [annyang-electron-demo](https://github.com/Tal

[2016-09-29 09:30] atchyut-re commented on #194
@namel I had tried what you have mentioned in the above comment. But unfortunately the problem still occuring.
Can you please a code sample if it is working fine with you.
Thankyou :+1:

[2016-09-29 20:50] Kuchiriel commented on #228
Hi @TalAter

![](http://i.imgur.com/M5yceTz.png)

The use case is when you want to show the software version without hardcoding it. We need for debuging and logging purposes.

[2016-09-30 12:42] namezero commented on #194
same problem here, doesnt works on android chrome

[2016-09-30 14:15] namezero commented on #194
**repeatedly (every 1-2 seconds) makes microphone notification noise.**
i have chrome 53.0.2785.124
android 5.0.0

[2016-10-03 02:18] Anewryzm commented on #3
This project is absolutely amazing!
Thanks for work on it and make we can get it for free.

[2016-10-04 15:05] mwkrieger commented on #206
Hi, I'm seeing this happen as well. The error that is firing is "no-speech".

Has anyone found a workaround?

[2016-10-04 15:08] mwkrieger commented on #194
I'm seeing this same exact behavior and it seems to be related to #206

[2016-10-06 21:27] peterdillon opened #229 "A way to add and remove classes for each word spoken."
Looking to make a wavelength line activate (togggle class names) as words are being spoken for an effect like you see on iphone and firestick voice control devices.

This codepen is ready for this:
Ttoggling 'small-vibe' and 'big-vibe' on active speaking is what I am trying to do.
http://codepen.io/peterdillon/pen/yaPdNo

Thank you!

[2016-10-07 10:46] TalAter commented on #229
OK, based on your use case I have added a feature that should allow you to accomplish this by listening to the `soundstart` and `result` events.

This is available starting in [annyang v2.6.0](https://github.com/TalAter/annyang/releases/tag/v2.6.0), which adds support for the `soundstart` event.

I also added an explanation with some code to the FAQ - [Can I detect when the user starts and stops s

[2016-10-07 10:46] #229 closed

[2016-10-08 12:38] lynxaegon commented on #100
I'm currently building a "Jarvis" like system based on a chromium-browser and a rpi with a 7" screen. At first, when i saw annyang doesn't use hotwords, it was perfect. But after adding a few commands, well.. you can imagine what chaos is in the house :)

I'm looking forward for a hotword plugin / update for annyang.

[2016-10-09 23:03] JVRibeiro commented on #101
The @Kant73 solution for this issue worked perfectly for me.

[2016-10-10 16:03] peterdillon commented on #229
This is great - thank you for all your work.

[2016-10-10 16:33] peterdillon opened #230 ""end" callBack seems to run every 2 seconds"
I noticed when I loaded the pen on my android S6 with both mobile Chrome and Firefox browsers. The "speech input closing" sound was looping.
## Expected Behavior

Go back to annyang.start()
## Current Behavior

"end" callBack seems to run every 2 seconds
## Test Pen

https://codepen.io/peterdillon/pen/yaPdNo?editors=1111

[2016-10-13 04:49] evancohen commented on #100
After some deliberation I decided to take the "core" of annyang and include it in the project - it wasn't built to run outside of the web browser and there's a lot of logic that Sonus already offers that would take a lot of work to plumb into annyang.

I've included the annyang command registration system out of the box as a part of Sonus. Here's an example:

[code]

As of tonight I've published `

[2016-10-13 15:13] Nixellion opened #231 "Receive audio data at the end of recognition"
I'd like to be able to operate with recorded audio data after the recognition.
## Example use:

Get a command from the user. Send received text-command and audio to the server. Let server process audio, for example with Microsoft Cognitive Services, or internally, to get more information about the command: Speaker ID (Who is speaking? For authorization), emotion, etc. And then decide if the user h

[2016-10-16 03:35] sudharsanmit opened #232 "Is annyang not compatible with typescript?"
Hi. I am using annyang on ionic2 with typescript. I am having a hard time writing the commands where the spoken words are mapped to methods of the class. But it triggers the appropriate maps but the method calls fails as undefined.

Eg:
[code]

[2016-10-16 04:24] sudharsanmit commented on #232
I solved this myself.

[2016-10-16 04:24] #232 closed

[2016-10-16 09:32] oziee commented on #189
$rootScope.$digest(); instead of $rootScope.$apply(); works

[2016-10-18 14:18] filippoo commented on #194
I got stuck on the same issue :(
Since annyang is a victim rather than the cause here, has anyone tried reaching out to google/chromium folks? The issue occurs on a combination of Google OS + Google API + Google browser. :) I used Android 6 with Chrome 50.

BTW - I wouldn't say that switching to webkitSpeechRecognition helps, I am getting exactly the same issue, I am not sure how others made it to

[2016-10-20 13:44] bheijns commented on #194
Same issue here (cordova / crosswalk). Workaround: make it event-driven but that's not an actual solution. Should be fixed in Chrome/Chromium.

[2016-10-23 16:06] JVRibeiro commented on #231
I'm interested on it.

[2016-10-23 16:43] JVRibeiro commented on #206
Maybe attach annyang.start() method to the error callback is the solution. Something like this:

annyang.addCallback('error', function ()
{
if ( !annyang.isListening() ) {
annyang.start();
}
});

[2016-10-23 22:37] TalAter commented on #206
@JVRibeiro That is a very dangerous approach.

The error might be from something else like a user declining the permission, the device not having a microphone (e.g. desktop pc), etc. In such a case, restarting the speech recognition might be followed by an immediate abort and an error, which would in turn start it again, followed by another error and so on... This could cause the browser to go int

[2016-10-23 22:39] TalAter commented on #206
**tl;dr**
The `no-speech` error is triggered by the browser automatically. You can work around it with annyang's `autorestart` mode.

----

When the browser doesn't detect any speech for a while, it triggers a `no-speech` error, and turns off the speech recognition.

When annyang is in `autorestart` mode, it will automatically restart the speech recognition engine if it is stopped by this event.

[2016-10-23 22:39] #206 closed

[2016-10-24 22:36] ngokevin opened #234 "Any ideas on how to get Speech Recognition working in an I-Frame?"
This isn't really in scope of annyang, but I am curious if it is possible to get Speech Recognition permissions to work in an I-Frame on another origin without having to postMessage.

[2016-10-25 09:35] TalAter commented on #234
I haven't tried it.

Have you tried asking on Stack Exchange?

[2016-10-25 09:35] #234 closed

[2016-10-28 21:25] BetaStacks commented on #231
I'm interested in this too.

[2016-10-29 22:01] Nixellion commented on #231
I ended up using a hack. I was able to achieve it by using recorder.js (one of them anyway) and recording audio on annyang's 'audio start' event and saving it on 'audio end'. If the command was recognized, I then take this saved blob audio, and just put it's blob variable into json, using socketio to send it to the server, but I think that AJAX or something else may also work, depending on what yo

[2016-10-29 22:05] BetaStacks commented on #231
That's a creative solution. Great thinking.
Thank you for sharing. 🙂

On Oct 29, 2016, 5:02 PM -0500, Nixellion <notifications@github.com>, wrote:

[2016-11-09 00:52] revett commented on #230
May be linked to this Android issue: https://github.com/TalAter/annyang/issues/194 👍

[2016-11-09 13:06] brendonexus commented on #18
Any news on the implementation of this? This is exactly what I require since I am running Annyang continuously on a machine I keep on, currently its picking up everything but with this prefix it would stop random speech recognition playing through my speakers every time I get too close to the microphone.

[2016-11-11 14:55] revett opened #236 "Word Probability"
## Current Behavior

[code]

## Possible Solution

Output changed to:

[code]

## Questions

- Does the speech recognition engine return a probability for a given word?
- Is there a way to limit the number of possible words handed back? E.g; top 5.

[2016-11-12 18:38] peterdillon commented on #230
Yes, looks like it is... I will follow that issue. Thank you! @revett

[2016-11-13 18:58] DemSquirrel opened #237 "Electron Speech Recognition is repeatedly stopping and starting"
I get this error

 when i try activate my commands

My code

    window.annyang = require('./node_modules/annyang/dist/annyang.min.js');
    annyang.debug();
    // Define sample command
    var commands = {
      'hello': function() {
        console.log("Hello Sir");

      }
    };
    // Add our commands to annyang
    annyang.addCommands(commands);
    // Start listening. You can call this he

[2016-11-14 16:47] #230 closed

[2016-11-14 16:47] peterdillon commented on #230
Duplicate of:
https://github.com/TalAter/annyang/issues/194

[2016-11-14 16:47] peterdillon commented on #237
This may be a duplicate of:
https://github.com/TalAter/annyang/issues/194

[2016-11-15 14:14] TalAter commented on #231
Cool. Thanks for sharing your solution!

Once you have something published online, I would love to see it.

[2016-11-15 14:14] #231 closed

[2016-11-17 08:01] VenkateshRajan3 opened #238 "Why SpeechRecognition not supporting in IE?"
Hi Team,
Could you please suggest me why this speech Recognition not supporting in IE browsers.
I am using IE 11 version.
Thanks & Regards,
Venkatesh Rajan

[2016-11-17 09:06] debatanu-thakur commented on #238
The speech recognition api uses `webkitSpeechRecognition` javascript object which is as of now supported only in chrome and firefox. You can find more at [MDN](https://developer.mozilla.org/en-US/docs/Web/API/Web_Speech_API).

[2016-11-17 09:09] debatanu-thakur commented on #238
The speech recognition api uses `webkitSpeechRecognition` javascript object which is as of now supported only in chrome and firefox. You can find more at [MDN](https://developer.mozilla.org/en-US/docs/Web/API/Web_Speech_API).

[2016-11-24 14:08] gwitwer commented on #193
Had this issue in 2.5 after switching from 1.4. After "empty cache and hard reload" in Chrome, problem was resolved.

[2016-11-27 22:21] DanielRuf commented on #238
@VenkateshRajan3 take a look at the table at http://caniuse.com/#feat=speech-recognition

[2016-11-27 22:23] DanielRuf commented on #199
Not yet supported on Android http://caniuse.com/#feat=speech-recognition

[2016-11-27 22:31] #238 closed

[2016-11-29 08:20] confidence68 commented on #194
mobile is not support it? why i use it no response！

`			$(document).ready(function(){
				$(".tab_content").hide();
				$(".tab_content:first").show();
				$('ul.tabs li').last().addClass("tab_last");

				$("ul.tabs li").click(function() {

					$(".tab_content").hide();
					$(".tab_content").eq($(this).index()).show();

					$("ul.tabs li").removeClass("active");
					$(this).addClass("active"

[2016-11-30 20:25] danep93 commented on #236
Is anyone working on this? I think it's a good idea and would like to pick this up

[2016-12-01 08:05] TalAter commented on #236
1. What is the use case? Why do you need this in your code? (it helps to plan a feature better, if we keep some use cases in mind).

2. I would prefer an API that does not break existing behavior like the one suggested above. There are a lot of people using this right now, and this might break their existing code.

---

Yes, it does.

It is currently [limited to 5](https://github.com/TalAter/annya

[2016-12-01 16:07] revett commented on #236
Great 🎉

My use-case is around filtering out words which have a low probability, to make my application more reliable.

@TalAter I agree that the schema should be consistent. I can imagine two possible implementations:

1. Release as a major version (v3.0.0) which follows the rules of semantic versioning.
2. Add optional configuration to output verbose values. So the default output is still the sa

[2016-12-01 22:38] jazzkonnen opened #239 "Possible to log what is asked?"
Is possible to log what is asked, so that we can make her more dynamic?

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Version used:
* Browser Name and version:
* Operating System and version (desktop or mobile):
* Link to your project:

[2016-12-01 22:47] TalAter commented on #239
Look at the documentation for [`annyang.addCallback('result')`](https://github.com/TalAter/annyang/tree/master/docs#addcallbacktype-callback-context) - I think this is what you are looking for.

If not, please provide more details on exactly what you are trying to do... a lot more details 😉

[2016-12-01 22:47] #239 closed

[2016-12-01 23:13] jazzkonnen commented on #239
I don't think so. A user comes to the site and says something that isn't meant to be recognized. Is it possible to know what was said so I can add it. Sorry for vagueness

[2016-12-04 12:21] quentin-sommer commented on #18
https://github.com/TalAter/annyang/pull/240

[2016-12-05 14:33] scamianbas commented on #194
Same behaviour here with Annyang as well as with the SpeechRecognition API (chrome 54.0.2840.85 / Android 5.1.1). Tested with https://www.talater.com/annyang/ and https://davidwalsh.name/demo/speech-recognition-video.php

[2016-12-05 19:18] araltasher opened #241 "Multiple named variables in one command"
I would like to be able to recognize multiple variables in one command rather than using the greedy approach

## Expected Behavior
var command = {

  'if today is :day then set the color to :color ': colorOfTheDay,

}

var colorOfTheDay = function(day, color) {

if( color == "Black" && day == "Friday"){
//do something
}
 else if( color == "Blue" && day == "Saturday"{
//another func();
}
}

[2016-12-18 15:30] BetaStacks opened #242 "annyang.trigger not working"
I am trying to use the annyang.trigger method but it doesn't seem to be working.

    $( "#trigger" ).click(function() {annyang.trigger('hello');});

Am I missing something?

[2016-12-18 21:48] TalAter commented on #242
The `annyang.trigger('hello');` command looks good... might be unrelated to annyang. But it's hard to know for sure without more context.

Could you provide a complete working code sample? Perhaps a codepen?

[2016-12-18 23:57] BetaStacks commented on #242
You were right It was my IDE. For some reason the code doesn't work when it is compiled into an external JS file, but If I put the script inline it works as expected.

Now I just need to work out how to get the triggers to work in Safari.  :)

[2016-12-18 23:59] #242 closed

[2016-12-19 00:10] BetaStacks commented on #241
You can see an example that does this at http://jsfiddle.net/JMPerez/p30pb38z/

[2016-12-22 18:10] Fraaraco commented on #174
Does Annyang need internet? or it can work without it?

[2016-12-22 18:13] Fraaraco commented on #174
I said many times "hello" and it did not answer :(!

I have this log:

Speech Recognition is repeatedly stopping and starting. See http://is.gd/annyang_restarts for tips.

[2016-12-22 18:49] evancohen commented on #174
It does require internet (it uses [webkitSpeechRecognition](https://developer.mozilla.org/en-US/docs/Web/API/Web_Speech_API)). If it's stopping and starting add an error caback function and see what the error is. If you are connected to the internet and getting a network error then it's likeley that all of the speech requests are used up for the public Electron key, in which case you have to [add

[2016-12-29 23:01] ihabZhaika opened #243 "A Parser-blocking, cross-origin script on annyang demo website"
Hi,
i wanted to try the[ online demo ](https://www.talater.com/annyang/), on the console i get the following log

`include.preload.js:465Calling Element.createShadowRoot() for an element which already hosts a shadow root is deprecated. See https://www.chromestatus.com/features/4668884095336448 for more details.
`
`(index):19 A Parser-blocking, cross-origin script, https://cdnjs.cloudflare.com/ajax

[2016-12-30 06:57] avancleef opened #244 "Not detected on Apple Iphone (6)"
I tried your demo whish works fine on a old smartphone but on my Apple iPhone 6 I get no "can we use your microphone" dialog or anything... the website simply states that I need to use a other browser.

Tried Safari and Chrome but neither work and -or give me a "can we use your microphone" dialog.

Any fix for this?

[2016-12-30 21:50] TalAter commented on #244
annyang relies on the browser to do the speech recognition. Unfortunately, Apple chose not to adopt speech recognition, along with many, *many*, other modern web features in Safari.

Also unfortunate, is that iPhones do not allow true 3rd party browsers... so even Chrome on an iPhone is just Safari's engine (WebKit) with a Chrome like wrapper around it.

So, yeah... even the newest browser on the

[2016-12-30 21:50] #244 closed

[2016-12-30 22:09] TalAter commented on #243
Thanks for bringing this to my attention.

I just fixed this in 675f0ebbe51deb4b5e8ff3cc1320bfc5d7495ff8

[2016-12-30 22:09] #243 closed

[2016-12-30 22:14] TalAter commented on #241
Thanks @BetaStacks! Great demo, and works perfectly.

By the way, if you find yourself needing to do more complicated sentence recognition, you can supply annyang with regular expressions. Check out the [docs](https://github.com/TalAter/annyang/tree/master/docs#using-regular-expressions-in-commands) for this.

[2016-12-30 22:14] #241 closed

[2016-12-30 22:14] #226 closed

[2016-12-30 22:24] TalAter commented on #228
It seems like a bit of an edge case. I'm sorry, but I try not to include features that wouldn't benefit the bulk of our users. Any addition affects the entire library, and needs to be maintained forever... so we have to make sure there's demand for it.

Does anyone else have a need for this, and can explain their need?

[2016-12-30 22:24] #228 closed

[2016-12-31 13:25] BetaStacks opened #246 "Trigger in Safari"
I have an input field that can be used as an alternative to speech. It works great in Browsers the support Web Soeech API.

Is there a way to trick safari into processing the annyang.trigger so that the input field with allow NLP in Safari?

[2017-01-01 10:01] ngryman opened #247 "addCommand callbacks should be invoked after addCallback callbacks"
I would like to display the recognized text before executing the command callback and display the processed answer. With the current implementation it's difficult.

## Expected Behavior

From my point of view, `addCallback` callbacks are generic ways of reacting to your library and should be called before any processing your side.
A nice side effect would be, in my case, to be able to display raw

[2017-01-01 14:00] ialberquilla opened #248 "Annyang in Electron Speech Recognition is repeatedly stopping and starting"
I'm using an example app created in Electron, donwloaded from:
https://github.com/TalAter/annyang-electron-demo

But when I start it in debug mode, it shows in the console:
Speech Recognition is repeatedly stopping and starting. See http://is.gd/annyang_restarts for tips.

I'm not using Speech Recognition in any other tab.

I'm using this versions:

node 5.1.1, Chromium 47.0.2526.110, Electron 0.3

[2017-01-03 17:36] BetaStacks commented on #100
Here is a how I ended up creating a Global Command Prefix and Suffix
http://codepen.io/BrandonCorlett/pen/mRdMqY

`/* SET GLOBAL COMMAND PREFIX */
var globalCommandPrefix = "Computer (please)" + " ";

/* SET GLOBAL COMMAND Suffix */
var globalCommandSuffix = " " + "(please)";

/* SET UNIQUE COMMAND TEXT */
var command1 = "say my name is :name";
var command2 = "I am :name";

(function () {
    var

[2017-01-05 12:46] Nixellion opened #249 "Stop when there is sound but no words"
I may be wrong, but right now it seems that Annyang only tracks it when there is no sound anymore to stop the recognition and return the result.

I think it would be nice if it could stop recording if there is sound, but no words recognized for a second or two.

This would allow it to work better in loud environments. Right now if there is some loud sound in the background, like music without word

[2017-01-05 18:48] Nixellion commented on #100
I'll +1 to this issue. It would definitely be awesome to have some front-end javascript based hotword detection. If i'm correct snowboy and sonus both require node.js server side stuff?

I'm writing my own home assistant bot as well, using Python for command processing, and I only use browser as a UI that recognizes speech and sends text commands to the Python Flask server.

[2017-01-05 21:51] evancohen commented on #100
@Nixellion

Sonus uses Node.js, but it's a bit a-typical because it's primarily a "client" library intended for low powered hardware devices. I'm also looking to create a Python interface: evancohen/sonus#13.

**To address your main question:** You can run browser based detection with [pocketsphinx](https://syl22-00.github.io/pocketsphinx.js/live-demo-kws.html). An alternative that I really like i

[2017-01-06 13:09] andreimavenhut commented on #100
@Nixellion
For hotword detection in browser i went with annyang, but i made a "Conversation" class. You can have a list of commands, which when triggered, gives you another list of commands and so on.
You could you that for hotword detection, you just add the first command to be the "hotword" and in the conversation class you add the rest of the commands. I'll just leave it here for anyone that wa

[2017-01-06 14:36] Nixellion commented on #100
@andreimavenhut
Oh, I guess I did not express myself correctly. I DO need offline hotword detection, so annyang is not an option. Annyang is using google's recognition, so in a noisy room it will send audio to google basically non-stop. It's bad for a huge number of reasons, starting with network bandwidth and ending with privacy.

Right now I use Annyang in a form of just ONE command basicallly.

[2017-01-06 15:08] andreimavenhut commented on #100
I thought about using sphinx or another offline recognizer, but after a few benchmarks i went with the SpeechRecognition in chrome. I know you can use their APIs, but hey.. they do cost :) and inside chrome, the speechRecognition has a ApiKey that (from what i know) it's unlimited, which converts for me in 0 costs.
I wonder if @evancohen found a better way of detecting speech online or offline wit

[2017-01-06 15:50] Nixellion commented on #100
@andreimavenhut , Well, Chrome's speech recognition is actually using Google's servers as well, from what I know, so it's still bandwidth usage and all.

And in Python's speech recognition there is actually an unlimited Google apikey as well. So you get it for free in python too. And sphinx is of course free as well but a pain in the ass :D

[2017-01-06 20:02] sgasser commented on #194
No chrome issue found.

Opened one https://bugs.chromium.org/p/chromium/issues/detail?id=679010

Please add a comment if something is missing

:star: this chrome issue - thanks

[2017-01-06 23:35] evancohen commented on #100
@andreimavenhut For speech recognition I use Sonus. In terms of audio encoding, it uses 16-bit signed-integer linear pulse modulation coded WAV (no mp3 support today). It's entirely stream based, so you could theoretically stream to it from your web browser so a server instance of Sonus (although I've never actually tried this).

One big problem trying to do keyword spotting (aka hotword detection

[2017-01-08 02:50] jchook commented on #248
I'm also having a similar issue. Attempting to create a website to initiate timers by voice command. As I switch between apps, etc the availability of the voice recognition is highly unpredictable.

[2017-01-08 02:53] jchook commented on #249
Sounds like this would require "word recognition" software in front of the browser API. This bug should be reported to Google Chrome, no?

[2017-01-08 02:56] jchook commented on #214
The recognition engine appears to do very well with numbers and ordinals... just throwing it out there.

[2017-01-08 04:27] TalAter commented on #214
How it recognizes it is based on the browser's recognition engine.

We could improve it for cases like this by defining grammar (#11), which hasn't been implemented in annyang yet.

[2017-01-08 04:27] #214 closed

[2017-01-08 04:33] TalAter commented on #249
Yes, the implementation of the recognition is up to the browser vendor.

[2017-01-08 04:33] #249 closed

[2017-01-08 04:48] TalAter commented on #248
I believe this might be related to the API limits on Electron. See https://github.com/TalAter/annyang/blob/master/docs/FAQ.md#can-annyang-be-used-in-chromium-or-electron

[2017-01-08 04:48] #248 closed

[2017-01-11 04:06] Thread7 commented on #101
I'm trying to get interim results.  I see two people here that say they used the above method and it worked.  I can't seem to get it to work.  Has anything changed since this was posted.  Here is my exact code.  I had to change it slightly from Kant73's original just because I think he only posted a snippet.
`<!DOCTYPE html>
<html class="no-js consumer" lang="en">
  <head>
  <script src='//cdnjs.c

[2017-01-11 04:14] Thread7 commented on #101
Argh. Sorry I figured it out 2 minutes after posting this.  The interim went so fast that it only showed up in the console but never in the `<div>` on the screen.  I figured I'd leave my above comment in case someone wants a full example that works (at least in the console).

[2017-01-11 21:10] Thread7 commented on #194
This happens for me as well.  It is only for Chrome on Android.  Does anyone know of an alternative browser that can work on Android?  I tried mobile Firefox but it must not support speech recognition.

[2017-01-16 20:48] danep93 commented on #236
Any update on this? Still want to implement this whether through an API or just through a new major version

[2017-01-16 22:34] caffeinum commented on #236
You could return "possiblePhrases" array just as usual, but add index zero
[0] with the dictionary with probabilities. There would be no conflicts
with the words in the array, because they are always strings, even "0" is
the string.

And in the major 3.0.0 you could break the current behavior, just as
everyone else's library does.

On Mon, 16 Jan 2017 at 23:48, Daniel Epstein <notifications@github

[2017-01-17 18:28] BetaStacks opened #251 "One phrase to trigger two commands."
Any thoughts on how to trigger two commands with one phrase?

## Desired Behavior
I would like to setup two separate commands such as "Turn on all lights." and "Play music." and then have them both triggered with the phrase "Turn on all lights and play music".

## Current Behavior
Right now I have to create a separate command that will trigger both commands. This is fine if there are only or two c

[2017-01-19 14:19] javismiles commented on #194
Any news about this? The current non stop beeping makes it all completely unusable on android phones, crossing fingers for a solution eventually, thank you for this great library by the way, all best

[2017-01-20 17:29] PortPixel commented on #251
Perhaps in each command check the whole speech said for 'and' and then parse the text after 'and' to check for another command?

[2017-01-24 04:44] ghilo17 commented on #101
Thanks!!!! It saves me a lot :)

[2017-01-31 10:59] ricking06 opened #253 "Usage limit ?"
i dont understand does it uses any server to recognize speech ? does it has a usage limit ?

[2017-02-04 11:43] TalAter commented on #253
It uses the browser to do speech recognition (in Chrome this is done in the cloud).
There may be usage limits if you attempt to run it outside of Chrome.

These questions are both in the [FAQ](https://github.com/TalAter/annyang/blob/master/docs/FAQ.md)

[2017-02-04 11:43] #253 closed

[2017-02-07 15:52] mulyoved commented on #194
maybe related to this 4 year android issue?

https://code.google.com/p/android/issues/detail?id=37862

[2017-02-07 19:09] Thread7 commented on #194
I would encourage everyone to make comments in those Google forums so we can get this fixed once and for all.

[2017-02-08 15:25] BetaStacks opened #254 "annyang and Node JS"
After running npm install annyang will I be able to POST to the script and pass a value through a variable located within a trigger function?

[2017-02-09 16:15] krahnemoon opened #255 "Is it possible to initiate multiple instances of annyang at the same time?"
The title explains it all.
If it isn't, it could be a great feature to add.
For example, the first instance could consist of one listener such as "Hey Assistant"
and once the listener is triggered the rest of the commands initiate with another instance of annyang.

[2017-02-10 18:10] jdChum commented on #255
Multiple instances would cause trouble with the underlying APIs that Annyang provides an interface for. This is one of the reasons why having listeners in multiple tabs cause Annyang to start and stop repeatedly. Instead, you could use a single command as a wake word or phrase that adds a library of other commands.

`let commands = {
  'google *query': query => { searchGoogle(query); },
  'how\'s

[2017-02-10 18:12] jdChum commented on #255
Multiple instances would cause trouble with the underlying APIs that Annyang provides an interface for. This is one of the reasons why having listeners in multiple tabs cause Annyang to start and stop repeatedly. Instead, you could use a single command as a wake word or phrase that adds a library of other commands.

[code]

If you go with this technique, you'll need to remove the commands after ea

[2017-02-10 22:42] ChronSyn commented on #18
It's possible to do this without needing a PR or any modification to the library using a key rename function. Simply add your commands in object format - e.g.;

	var commands = {
		"Where am I?"		:	myLocationFunction,
		"What's the time?"	:	myTimeFunction,
	};

Then, add the following `rename` function;

	var rename = function(obj, prefix){
		if(typeof obj !== 'object' || !obj){
			return false;

[2017-02-15 18:54] hakhag opened #257 "Annyang in Chromium: keeps stopping and starting"
Hello!

So I'm trying to add annyang to a node.js app I'm running in the Cromium browser. Everything works fine in Chrome, but in Chromium I'm having some issues. Annyang tells me it keeps stopping and starting:

`Speech Recognition is repeatedly stopping and starting. See http://is.gd/annyang_restarts for tips.`

I know this can be caused with having multiple tabs/windows running annyang open, bu

[2017-02-21 12:12] sayeko opened #258 "Can I force the annyang to parse string word number to actually integer numbers?"
Hey, I would like to know if there is some way to force annyang to parse word numbers.

for example: five hundred to 500.

currently it sometime gives me 500 and five hundred.

## Expected Behavior
Speaking to mic asking for five hundred
expected to return `500` and not five hundred.

## Current Behavior
Sometime return 500 and sometimes return five hundred as word string.

[2017-02-21 14:02] sdawson26 commented on #258
I've had the same problem before and unfortunately this is something that cannot be avoided. Something like this should do the trick:

http://stackoverflow.com/questions/11980087/javascript-words-to-numbers

[2017-02-21 14:04] sdawson26 commented on #257
I've dealt with this issue before as well. You need to use these parameters to get it to stop:
annyang.start({autoRestart:false, continuous: false});

[2017-02-21 14:29] sdawson26 opened #259 "Can the end-user click a button to wrap-up or "finish listening" rather than pausing or aborting?"
## Expected Behavior
Impatient users want something to click when they are done talking rather than waiting for the speech recognition to stop on its own.

## Current Behavior
Right now we can only use pause() to momentarily pause (still leaves the microphone on) and abort() which cancels out the command entirely.

## Possible Solution
I would like something like ... `annyang.stopListening()` so t

[2017-02-21 19:55] hakhag commented on #257
@sdawson26 thanks for reply. I've tried this, but it only results in annyang stopping right away (the `recognition.onend` is triggered almost immediately). Then the `recognition.onstart` is triggered a second later, and `recognition.onend` is triggered again right after. This goes on forever.

[2017-02-22 06:41] sayeko opened #260 "How the annyang parse commands in languages from right to left."
Hey, I encounter in a situation that I need to you annyang for custom languages that been writing from right to left. And I can't determine how the annyang with english to pass function parameter.

I found one solution that worked for me but I don't quite sure it the right or proper solution.

## Expected Behavior
I think is the proper way because it should look for right to left.
var commands : {

[2017-02-24 19:27] hakhag commented on #257
Right, so after alot of hairpulling why this didn't work I've figured it out. It came down to two errors I had made:

1. I had enabled the "Google Cloud Speech API" and not the "Speech API". Apparantly these are two different things.
2. I had to launch Chromium in the terminal with the command `/Applications/Chromium.app/Contents/MacOS/Chromium` so that it would registert the API keys.

[2017-02-24 19:27] #257 closed

[2017-03-11 18:42] Iazzetta opened #261 "Prepared for multiple word options"
I want to make a commands like this?
[code]
Can I? I try using " | " but don't work.
Thanks btw

[2017-03-12 14:06] shuffledpixels commented on #3
I don't get it how I make it work with multiple languages... Here's my code:

[code]

[2017-03-12 21:12] TalAter commented on #261
You can do by defining your commands as regular expressions. This is explained in the [API docs](https://github.com/TalAter/annyang/blob/master/docs/README.md#using-regular-expressions-in-commands).

[2017-03-12 21:12] #261 closed

[2017-03-12 21:16] Iazzetta commented on #261
Thanks! This solve my problem.

[2017-03-14 17:44] Iazzetta opened #262 "Annyang not working Chrome/Ubuntu"
I create some project with Annyang using osx (Works just in Chrome Canary).
Now, I trying use linux and not work! Don't detect my audio. I try in annyang website to test and not work too.

Google Chrome version: 57.0.2987.98 (Official Build) (64-bit)
Ubuntu.

[2017-03-16 10:43] GlauberF opened #263 "Portuguese - Brazil"
## doubt
I'm trying to use it on my site, but I did tests with it and set the Portuguese language, but I did not recognize it, do you have any examples for me to see or how can I do it, if it's portuguese brazil?

[2017-03-16 11:31] TalAter commented on #263
Portuguese (Brasil) is on the [list of supported languages](https://github.com/TalAter/annyang/blob/master/docs/FAQ.md#what-languages-are-supported)

Did you try [setting the language](https://github.com/TalAter/annyang/tree/master/docs#setlanguagelanguage)?

[code]

[2017-03-16 11:32] #263 closed

[2017-03-16 14:34] GlauberF commented on #263
I'll test, then tell me more if it worked

Example command, if I want to edit a product, I'll speak edit product x, x is the product id, how could I mount this, pass that command?

[2017-03-25 12:34] gauravmishra123 opened #264 "I m getting below error while doing -npm install"
while doing -npm install I am getting belown error .

Windows_NT 10.0.14393
npm ERR! argv "C:\\Program Files\\nodejs\\node.exe" "C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js" "install"
npm ERR! node v6.10.1
npm ERR! npm  v3.10.10
npm ERR! code ELIFECYCLE

npm ERR! phantomjs-prebuilt@2.1.14 install: `node install.js`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the phantomjs-

[2017-03-27 07:32] Stas-Buzunko commented on #262
It has been working on my ubuntu / Chrome for something like month, but today it stopped working.
Don't even know how to debug it.
Chrome Version 55.0.2883.87 (64-bit)

[2017-03-27 19:10] popbijoux commented on #262
Hey @Stas-Buzunko I have had something like this happen to me, and I saw that I was using their external link , I went ahead,  downloaded the annyang js file and inserted onto my folder and linked the html to it and it worked after that. I

[2017-03-27 19:30] popbijoux commented on #251
I know what you mean @BetaStacks this reminded me of a question I had and found the answer (in my case, I wondered how could I use a single command in several languages.  I would think your best bet would be an answer similar to the one given about the languages (see below, link to full question "How to specify multiple languages": https://github.com/TalAter/annyang/issues/119).

In other words, y

[2017-03-27 19:37] Iazzetta commented on #262
@popbijoux oh maybe you're right. I'm using CDN...

[2017-03-27 19:43] popbijoux commented on #262
@Iazzetta I have had several issues with annyang configuration and this was one thing that worked for this one problem. The second issue I have run into was that my computer that was not picking up  audio at all and third issue is code error on my end, because I use annyang to trigger show/hide divs and that's another issue altogether:)

[2017-03-28 06:54] Stas-Buzunko commented on #262
@popbijoux thank you! i've been using cdn as well. Going to try to download today!

[2017-03-28 19:28] Stas-Buzunko commented on #262
i've tried local file, it didn't work
But it suddenly started working when I added annyang.debug() in the beginning :)

So my recommendation to try to call debug if nothing above helps. +it's funny to see how it recognizes speech in console

[2017-03-28 23:37] theonlygusti opened #265 "Make it recognise faster?"
I only have a lot of short, single-word commands, like "one", "two", ... "nine."

I have to pause for a few seconds for each one to be recognised.

Add a config option to make this faster?

[2017-03-31 15:38] Waynewil opened #266 "Regex with splats"
How do I use regex with splats?

This works for the first word in the splat:

'add *specifiers': {'regexp': /^(?:add|at|and) (\w*)$/, 'callback': addFunction}

...but I'm unable to find how to capture the entire splat. The fault here is entirely mine, i.e. I'm new to regexp. But after hours of reading/hacking, the correct expression eludes me.

Thanks,

Wayne

[2017-04-01 00:36] AdRiAnIlloO opened #267 "Annyang is simply not working"
Hi,

I followed the first example listed on the web to handle a command. I did that on my webserver and it isn't working: means, the callback isn't getting called (I ensured it by getting empty output after a logging, anyways my custom code wasn't being executed, despite not having pasted it here). The web uses HTTPS already due to a requirement by another library, and the mic has permissions:

`v

[2017-04-01 01:08] peterdillon commented on #267
Have you made a fiddle or pen to troubleshoot?

[2017-04-01 01:22] AdRiAnIlloO commented on #267
https://jsfiddle.net/qagzxnvs/

[2017-04-01 02:16] popbijoux commented on #267
the only thing that REALLY worked for me was hosting the page on a github page. Getting HTTPS permission on your computer is not enough, you need to host it on a localhost (via python/terminal, I'm on a MAC) or just host it elsewhere.  I ran into this problem before with d3 where I also had to host it on github or it would not appear on the browser, I don't like doing localhost if I am working on

[2017-04-01 13:22] AdRiAnIlloO commented on #267
It turns out that the speech recognition has many difficulty to hear for some short words. Regarding 'hello', I was just not saying it loud enough (I'm using a webcam mic which I need to keep using instead of a headset, since I'm doing an interactive camera+mic pong game, and player should be able to play it being a bit away from screen, so having to use a headset would be annoying).

The case is,

[2017-04-03 15:29] BetaStacks opened #268 "Protecting Script using Node.js"
I am just starting to look into Node.js and am curious about protecting my JS. Since Node runs on the server would this allow be to prevent users from seeing the functions in the source code for the page? If not, are there any recommended ways to protect the script from easily being copied by users or bots?

[2017-04-08 00:15] TalAter commented on #267
It seems that annyang is working correctly here... the only issue is that Google's speech recognition engine incorrectly identifies these two words, as they are not very common (not many people just say "ping" as a sentence, so the Speech Recognition engine assumes it must be something else). You correctly identified that when you say a longer sentence it does work, as you are providing the Speech

[2017-04-08 00:15] #267 closed

[2017-04-08 00:21] TalAter commented on #266
Can you explain a bit more what you are trying to accomplish with the regular expression? Maybe someone here will be able to help with it.

[2017-04-08 00:21] #266 closed

[2017-04-08 00:55] TalAter commented on #265
Unfortunately that is up to the speech recognition engine in the browser, not annyang. Here are a few tips on how to get [faster speech recognition results](https://github.com/TalAter/annyang/blob/master/docs/FAQ.md#what-can-i-do-to-make-speech-recognition-results-return-faster).

[2017-04-08 00:55] #265 closed

[2017-04-08 03:07] TalAter commented on #264
I am sorry, but this seems to be a local error (perhaps with your installation of node or npm)... not something I can help debug.

[2017-04-08 03:07] #264 closed

[2017-04-08 03:09] TalAter commented on #268
Yes. The code that runs on the server itself isn't visible to your users, unless you serve it to them.

If you have further questions, may I suggest asking them on Stack Overflow as this has nothing to do with annyang.

[2017-04-08 03:09] #268 closed

[2017-04-08 03:10] TalAter commented on #254
I am closing for now as there is not enough detail in this question.

If this is still an issue for you, please reopen the issue and provide more details about what exactly you are trying to accomplish.

[2017-04-08 03:10] #254 closed

[2017-04-08 03:12] TalAter commented on #259
Unfortunately this isn't possible. It is up to the browser when to send the speech to the server to be parsed... annyang can't change that.

[2017-04-08 03:12] #259 closed

[2017-04-08 03:21] TalAter commented on #260
The current behavior is the correct one in my opinion.

`שלח *to` is how you would write it in a right to left language... it only looks backwards because the code editor is rendering text left-to-right (even if you type it right-to-left)

![ltr](https://cloud.githubusercontent.com/assets/926653/24825244/67ed5fac-1be0-11e7-812e-4f853baec487.gif)

[2017-04-08 03:21] #260 closed

[2017-04-08 03:25] TalAter commented on #251
💯 👍
Well said.

[2017-04-08 03:25] #251 closed

[2017-04-08 03:25] #262 closed

[2017-04-11 19:59] TalAter commented on #3
@heliochun There is actually no way to make it work with multiple languages at the same time... it is able to detect speech, not recognize which language the user is speaking... you have to tell it what language to recognize.

[2017-04-11 23:24] popbijoux commented on #3
**COMMENT:**
One answer and one question, pigging back on what Helio just asked. I am working with several languages (so far have only tested English) and I assume the easiest thing for Helio would be something you mentioned earlier. Meaning define the function in the main language and add any other corresponding words into the same function.  [https://github.com/TalAter/annyang/issues/251](url)
!

[2017-04-12 01:16] popbijoux opened #269 "Can users change commands and/or set Language preferences via the browser (UI) ?"
**I wanted to know, broadly, if there any way to create custom commands via the browser?**

I started working on an interface that would allow the user to do that but just realized I am not sure it’s actually possible.

What I have with Annyang so far works perfectly, but once I add other languages, I'd like to know if the user can change the language input via the browser. I will be working with

[2017-04-12 18:41] #269 closed

[2017-04-12 18:44] popbijoux commented on #269
I read Tal's answer [here](https://github.com/TalAter/annyang/issues/3) and I got it. I think. I will try it. Basically there is no need to re-define it, as long as the commands are there, specified per language, then it will work:) I will test it and update.
[code]

[2017-04-14 04:37] DONGILBAE commented on #97
Thank you so much. i was finding this function whole night. thanks again.

[2017-04-24 22:35] Nemesis24 commented on #194
Sorry for my "bad" english, it seems here https://syl22-00.github.io/pocketsphinx.js/live-demo.html the problem was not encountered with my android phone.

perhaps a way to find a solution @Talaler

[2017-04-25 17:41] vin-ni commented on #194
got the same problem

[2017-04-25 21:27] rmd97 commented on #194
I used the volumen control,  When the page is open  I put the volumen in 0, When leave the page I put the volumen in 1.

[2017-05-04 21:10] drubio1989 opened #271 "Enabling annyang to work for Chrome mobile"
I was wondering if the annyang library is compatible with Chrome for iphone? I am creating a 3D visualizer with AFrame and while the desktop version works. It seems that annyang does not work at all on mobile. Does annyang support this feature? Perhaps there is a setting on chrome that needs to be enabled? I love this library and can see the potential in WebVr applications.

[2017-05-08 21:52] TalAter commented on #271
Speech recognition works in Chrome for Android, but not in Chrome on iOS devices.

That's because Chrome on iOS isn't really Chrome.

Apple does not allow third-party browsing engines on their devices. All third-party browsers on their devices are just wrappers around iOS WebKit engine.

In other words. When you are using Chrome on your iPhone, you are basically using Safari with a Chrome facade a

[2017-05-08 21:52] #271 closed

[2017-05-10 00:54] inglesuniversal opened #272 "Great Script!!! How to add a FIXED VARIABLE as part of the VOICE COMMAND"
I have this simple issue, but can't figure out how to fix it...

your script has this to insert variables into the VOICE COMMAND...

  // A named variable is a one word variable, that can fit anywhere in your command.
  // e.g. saying "calculate October stats" will call calculateStats('October');
  'calculate :month stats': calculateStats,

in the scenario above the variable is :month

My question

[2017-05-10 17:55] TalAter commented on #272
You can write a function that will be called every time you change the assistant name and will remove all the commands, and register new ones instead. These new commands will have the assistant name hardcoded in them.

For example:
[code]

You can read more about [addCommands](https://github.com/TalAter/annyang/blob/master/docs/README.md#addcommandscommands) and [removeCommands](https://github.com

[2017-05-10 17:55] #272 closed

[2017-05-10 19:32] kranil1989927 opened #273 "How can I end the speech to text recognition and switch to recognize command."
var addPageDesc = function(){
					$('#pageDescription').focus();

					var r = document.getElementById('pageDescription');
					var speechRecognizer = annyang.getSpeechRecognizer();
					speechRecognizer.continuous = true;
					speechRecognizer.interimResults = true;

					var finalTranscripts = '';

					speechRecognizer.onresult = function(event){
						var interimTranscripts = '';
						for(va

[2017-05-10 21:21] TalAter commented on #273
Your code effectively overwrites annyang's `onresult` event handler so that it cannot listen to any further results.

This is way outside of what annyang was designed to do, as your code effectively "breaks" annyang... but here are two ideas of what you might try.

1. Instead of `speechRecognizer.onresults = func`, try `speechRecognizer.addEventListener('result', func)`. This will not delete annya

[2017-05-10 21:21] #273 closed

[2017-05-11 03:29] kranil1989927 commented on #273
Thanks for your reply with possible solution.
I will pause annyang when I want to use your "text recognition" mode.  How can I decide that I have done with 'text recognition' want to switch back to 'command recognition'.

Thanks,
Anil Kumar

[2017-05-11 08:11] TalAter commented on #273
When you want to turn annyang back on just run `annyang.resume()`.

I encourage you to read the [API docs](https://github.com/TalAter/annyang/blob/master/docs/README.md) to see all of the available options.

[2017-05-15 04:23] inglesuniversal opened #276 "Command to HALT all actions even if audio / music is being played back..."
Hello:

Is there a way to have a VOICE command that can be used to stop playback of long TTS narration as well as music being played and triggered by a previous voice command?

Something like... "Virtual Assistant's Name" STOP!!!!

I have tried some combinations either through the internal mike on my mac or the audio being played on my apple tv and NO good results to report.

[2017-05-15 06:53] TalAter commented on #276
The specifics of how you stop the narration or music are up to your program, not annyang.

Just create a function that stops the narration or music (for example `stopPlaying()`) and then call it from an annyang command like so:

[code]

[2017-05-15 06:53] #276 closed

[2017-05-17 19:38] Kacppian opened #277 "PhantomJS timed out, possibly due to an unfinished async spec."
I didn't make any changes to the files, I just cloned the repo and tried running grunt.

When I try running grunt dev I get this output -

and it aborts. I did try using --force but nothing happens beyond the error.

## Your Environment

* Version used:  node Version - v6.3.1, npm Version - 4.5.0
* Browser Name and version: Google Chrome
* Operating System and version (desktop or mobile): Ubuntu 1

[2017-05-20 12:16] greenkeeper[bot] opened #279 "An in-range update of grunt-contrib-uglify is breaking the build 🚨"
## Version **3.0.1** of [grunt-contrib-uglify](https://github.com/gruntjs/grunt-contrib-uglify) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/TalAter/annyang/compare/greenkeeper%2Fgrunt-contrib-uglify-3.0.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      grunt-contrib-uglify
    </

[2017-05-22 04:29] greenkeeper[bot] opened #281 "An in-range update of async is breaking the build 🚨"
## Version **2.4.1** of [async](https://github.com/caolan/async) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/TalAter/annyang/compare/greenkeeper%2Fasync-2.4.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      async
    </td>
  </tr>
  <tr>
    <th align=left>
      Current Version

[2017-05-22 10:45] gaiyamega opened #282 "how to execute annyang in C.H.i.P on usb microphone"
i already execute annyang in Rpi3

i want to use C.H.I.P with annyang but it does not work well

i think microphone default error

or chromium??

it is different between rpi3 and annyang

i want to know how can i

please tell me easily

Thanks

[2017-05-22 21:28] TalAter commented on #279
Updated at f00899b

[2017-05-22 21:28] #279 closed

[2017-05-22 21:28] TalAter commented on #281
Updated at f00899b

[2017-05-22 21:28] #281 closed

[2017-05-23 03:12] oshihirii commented on #258
For another reference, I have come across:

https://github.com/howlowck/words-to-num

And asked if this is a valid implementation in plain javascript:

https://github.com/howlowck/words-to-num/issues/1

There is a working jsFiddle link there.

[2017-05-24 11:56] TalAter commented on #258
There isn't a way to force the speech to text engine to return numbers as a numerical representation or as words.

Your best bet would be to parse the results as suggested by @sdawson26 and @oshihirii.

[2017-05-24 11:56] #258 closed

[2017-05-24 12:28] #277 closed

[2017-05-24 12:33] #255 closed

[2017-05-24 12:34] TalAter commented on #277
Hey @Kacppian

The latest update I just made should hopefully resolve this.

Could you please test it out and let me know? Thank you.

[2017-05-24 12:57] TalAter commented on #247
Hi @ngryman

I can see your point of view of having that execution order over the current one. But I can also imagine others already depending on the current order in their code... to them changing the current order might be a breaking change.

I don't think this would be enough of a benefit for most people to warrant a breaking change in the API.

[2017-05-24 12:57] #247 closed

[2017-05-24 12:57] #237 closed

[2017-05-24 14:41] ngryman commented on #247
Ok I understand that. What about introducing a new callback for that specific purpose?

[2017-05-25 05:47] oshihirii opened #284 "What is returned on resultNoMatch?"
I am reading this documentation:

https://github.com/TalAter/annyang/blob/master/docs/README.md#addcallbacktype-callback-context

It gives a good example of exactly what is returned from `resultMatch`:

[code]

What exactly is returned from `resultNoMatch`?

I have read this sentence:

So does that mean it only returns `phrases`, or is other data returned?

In either case, a full code example of `

[2017-05-25 06:23] oshihirii commented on #284
As a follow up, I tried:

[code]

and yes it seems to just return possible phrases (i'm not sure if it returns other things though).

[2017-05-25 08:15] TalAter commented on #284
It only returns the phrases.

You can test this out yourself by running:
[code]

[2017-05-25 08:15] #284 closed

[2017-05-30 09:59] ardakazanci opened #285 "Section Refresh"
Hello , When I say the same command again, I want your content to be renewed.

I play a game and when I say the same command again I want to update it for that section.
I'm sorry for my bad english

[2017-05-30 12:10] TalAter commented on #285
annyang just runs functions based on certain commands. If you want those functions to do different things every time you call them, you can keep track of how many times they were called.

Anyway, this sounds like something that needs to be implemented in your own game's code, and not within annyang. I can't really help because I do not know your code.

Good luck 👍

[2017-05-30 12:10] #285 closed

[2017-05-31 15:01] ardakazanci opened #286 "I want to regain the content of a single command again."

[2017-06-03 16:24] BetaStacks opened #287 "Node Microphone Stream with Annyang Node"
Would this [Microphone-Stream](https://www.npmjs.com/package/microphone-stream) work with the Node version of Annyang?

If so then this may be a way to get around the beeping on mobile.

[2017-06-04 03:21] Hakim2014 commented on #188
Hi All,

I am new to electron apps and trying to build an app with voice functionality.  I did some google search and found that I need the GOOGLE_API_KEY, CLIENT ID and SECRET key for annyang to work with electron app. I created one and set as environment variable  on my windows and then try to run the app. I added the call back function to annyang and it always console out network error. Please

[2017-06-04 03:33] mojave-doug-f commented on #188
I don't know much about electron. Is there a reason you would use is instead of Google chrome?

On Jun 3, 2017, 10:21 PM, at 10:21 PM, Hakim2014 <notifications@github.com> wrote:

[2017-06-04 03:42] Hakim2014 commented on #188
I am developing a desktop application which runs on device as an app. And electron uses nodejs modules and chromium to achieve this. So I am using electron .

[2017-06-04 04:24] Hakim2014 commented on #174
@evancohen

I am facing this network problem. I have added the call back function and it says network error. I also added the GOOGLE_API_KEY in environment variable still same issue. Is there anything I am missing over here. Thank you

[2017-06-04 05:24] Hakim2014 opened #288 "Annyang not working after giving api keys"
Hi,

I am working on a small project on raspberry pi, which have voice functionality. I am using electron + annyang. I have included annyang as  const annyang = require('annyang') in my index.html and provided google cloud speech api key , client key and secret key in main.js of electron. I have attached a call back function to annyang and it always give me network error on my windows machine and

[2017-06-04 11:41] TalAter commented on #287
No. annyang was not built to work with any other APIs except the browser's speech recognition.

[2017-06-04 11:41] #287 closed

[2017-06-07 07:34] GautamPathak opened #289 "addition of data types to command variables"
Hi
How about adding datatype keywords to command variables?
Currently I am working on data entry using Annyang, and I have a few set types of entries which I need to recognise.
For example, if I am just looking for a number, or a letter as a command variable, it should return just the number or letter.
I know we can do this using callback function and resultMatch, but ,if I am not wrong, the whole

[2017-06-07 11:24] HeinPauwelyn opened #290 "Can I install annyang using npm and webpack?"
## Expected Behavior

using next command to use Annyang in my application:

[code]

and add using it inside my JavaScript code like this using webpack:

[code]

## Current Behavior

You need to add this html code:

[code]

## Possible Solution

Several things to do that. [See also this link.](https://docs.npmjs.com/getting-started/publishing-npm-packages)

## Context

Minify all code inside one Ja

[2017-06-07 13:29] mohitadwani opened #291 "Support for onspeechstart/speechstart event"
## Expected Behavior

You should implement an onspeechstart/speechstart event for the user to know when speech activity is detected.

## Current Behavior

You have provided an event called 'soundstart' which is fired as soon as ANY sound is detected. There should be a specific event when speech is detected.

## Context

I am implementing an online proctoring system which should detect and record w

[2017-06-07 17:11] TalAter commented on #291
Unfortunately, this isn't possible because of a bug in Chrome which I reported and explained here: https://bugs.chromium.org/p/chromium/issues/detail?id=572697&thanks=572697&ts=1451323087

I encourage you to add a comment to the end of that thread and ask them if they plan on addressing this.

You can also read more about the discussion of how this bug was found on #103

[2017-06-07 17:11] #291 closed

[2017-06-10 16:31] ardakazanci opened #292 "Android Webview - Annyang does it work"
Hi, can I do this.
What are the alternative ways.

[2017-06-10 20:32] BetaStacks commented on #292
I would imagine that if it works you would still get the beeping every couple seconds when the mic is being used.

[2017-06-13 19:46] popbijoux opened #293 "Can annyang used to output text dictation [aka "what the user said"] onto the page in addition to voice commands?"
**GOAL: Adding text dictation aka "what the user said" to a div in addition to using annyang commands I already do**
I tried using he webkit speech recognition API in addition to annyang but it did not work. Maybe there is a way I can accomplish this easily with Annyang?
**CURRENTLY WORKING PART 1**: annyang works perfectly, until I try adding dictation.  I have a separate page with dozens of anny

[2017-06-13 21:33] popbijoux commented on #97
I wrote a detailed question just now, how can I get what the user said (everything they said, both matching commands and not matching) and output it onto a div, the way traditional text dictation works? I can do this with the javascript web api on chrome but can't figure out if this is something I can do with annyang...

[2017-06-14 01:46] BetaStacks commented on #293
Yes it can. Do you have a link to published versions of the code you posted?

I'm away from my code at the moment so I can't look at exactly what I did.
If you want to look at the src code of my project it is over on https://maia.site
Creating an account will give you access to the demo.
All available commands are in the consol.

Also, what browser and operating system are you using?

[2017-06-14 01:47] BetaStacks commented on #293
One of my commands is "reepeat *splat" so you can make it say anythi my you want.

[2017-06-14 01:48] BetaStacks commented on #293
One of my commands is "reepeat *splat" so you can make it say anything you want.

[2017-06-14 02:43] popbijoux commented on #293
thank you:) I will try it tomorrow and re-post the page on github, i'll add a link here.  My problem is I am not sure how to write on the html (I want to output it to the "voiceToText" ID below)
[code]

I am not sure what I should write with annyang. It's probably something simple. I am a relative beginner so I will make simple mistakes:). I could also be the CSS I will double check everything to

[2017-06-14 03:28] BetaStacks commented on #293
Gotchya, sorry I thought you were wanting to trigger speech synthesis.  The demo on my site has a "Log" that outputs what was said when a command is matched. I've been meaning to add output when a command isn't recognized.

So do you want to only the most recently heard speech or do you want to run a ongoing list?

[2017-06-14 08:13] TalAter commented on #293
The browser does not support creating more than one instance of `webkitSpeechRecognition` on the same page.

Have you tried adding a result callback to annyang to get the raw text of what was said?

[code]

You can read more about these callbacks in the [API docs](https://github.com/TalAter/annyang/blob/master/docs/README.md#addcallbacktype-callback-context)

[2017-06-14 08:14] #293 closed

[2017-06-15 01:52] popbijoux commented on #293
hi, thank you so much. I managed to make the text show, BUT the text is displayed in an array, as explained on your FAQ:[ "_[This event will fire with a list of possible phrases the user may have said, regardless of whether any of them matched an annyang command or not.](https://github.com/TalAter/annyang/blob/master/docs/FAQ.md#can-annyang-be-used-to-capture-the-full-text-spoken-by-the-user)_"

T

[2017-06-15 01:58] popbijoux opened #294 "How can I *display the text of what the user said, just as it was said, regardless of whether it's a command match or not?"
hi, thank you so much re: [the last issue #293 ](https://github.com/TalAter/annyang/issues/293).  I was not able to re-open it so I am posting it as a new issue.

I managed to make the text show on a div, BUT the text is displayed in an array, as explained on your FAQ:[ "_[This event will fire with a list of possible phrases the user may have said, regardless of whether any of them matched an anny

[2017-06-15 09:33] TalAter commented on #294
Answering in the original issue. there is no need for a separate one.

[2017-06-15 09:33] #294 closed

[2017-06-15 09:37] TalAter commented on #293
Yes, the result callback returns an array of the things the speech recognition thinks you may have said (for example, when you say "toast" it might be 60% confident you said "toast", and 30% confident you said "first").

If you want to return just the most likely recognition, just output the first element in the array.

[code]

[2017-06-24 02:52] heliochun commented on #3
Thank you for your response @TalAter .

That's actually a great idea @popbijoux !
Structuring languages by many different files (`annyang-en.js`, `annyang-fr.js` etc) and then let the user choose the language on their side using a `<select>` and based on the chosen language, call the file containing all the functions already prepared for that language. Although this might require a page refresh to

[2017-06-26 20:07] ardakazanci commented on #194
How did you work on Android. I could not run it on WebView. Can you help me?

[2017-06-26 20:13] macdonst commented on #194
@ardakazanci the Android WebView does not include the speech rec API IIRC.

[2017-06-26 20:15] ardakazanci commented on #194
@macdonst  What are the alternatives?

[2017-06-26 22:47] macdonst commented on #194
@ardakazanci you could use Cordova and then add my Speech Rec plugin into the app. YMMV with the plugin as I haven't had much time to work on it recently but it does add the speech rec api into the web view and you can run annyang on top of it.

https://github.com/macdonst/SpeechRecognitionPlugin

[2017-06-27 09:42] ardakazanci opened #296 "Annyang! Cordova"
Hi,

Has anyone tried to use annyang ? i've tried but doesn't seem to work, or maybe it's just that i did it wrongly.
So, if you have tried maybe you can show me some example on how to use this on cordova ?

[2017-07-04 10:12] ardakazanci commented on #296
Please show an example.

[2017-07-10 22:12] Johnny00520 opened #297 "Stop playing audio after click in annyang, play audio automatically"
## Expected Behavior
I'm not sure if this is a bug. I try to make an even 'onclick' and start listening any word.  It was working perfectly yesterday, not today for no reason.

## Current Behavior
Right now, when I refresh the page, it will play audio automatically after the seconds I set. Here's the code I have.

<script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script

[2017-07-11 22:49] Johnny00520 commented on #297
I found a way to solve it. I need to register a call back to fire when a sound is heard by the voice recognition engine.

[2017-07-11 22:49] #297 closed

[2017-07-14 16:36] ardakazanci opened #298 "Can you share a sample project? - [Annyang - Cordova]"
Hello I do not know how to use cordova. Can you share a sample project? I really need

[2017-07-20 09:57] jujusudhur opened #299 "how to make it run on safari ??"
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Version used:
* Browser Name and version:
* Operating System and version (desktop or mobile):
* Link to your project:

[2017-07-20 11:16] TalAter commented on #299
Safari does not support the Speech Recognition API.

[2017-07-20 11:16] #299 closed

[2017-08-02 13:09] calebeaires commented on #66
@artforlife I have the same issue, have you every got it done?

[2017-08-09 08:39] MarcoMaeng opened #301 "Can I use annyang on only js file? not in HTML script"
I wanna use annyang for used only js file.
I don't like long html script.
What should I do?

[2017-08-13 07:44] ardakazanci commented on #194
I live with this problem. How can I resolve

[2017-08-14 03:50] rmd97 commented on #194
I cant' resolve it.

I down the volumen.

________________________________
De: Arda Kazancı <notifications@github.com>
Enviado: domingo, 13 de agosto de 2017 02:45 a. m.
Para: TalAter/annyang
CC: rmd97; Comment
Asunto: Re: [TalAter/annyang] (Android) Repeated microphone notification 📵🎙🤓 (#194)

I live with this problem. How can I resolve

—
You are receiving this because you commented.
Reply to th

[2017-08-15 02:15] MejorCodigo opened #302 "Compatibility Question"
Is annyang compatible with different languages? For example, Spanish?

[2017-08-15 02:16] MejorCodigo commented on #302
Nevermind, I just read the Docs and it does support a variety of different languages. 👍

[2017-08-15 02:16] #302 closed

[2017-08-21 15:28] jbreckmckye commented on #194
The Chrome team have marked the issue as 'wontFix':

That web page is continually using speech recognition.
This API is not intended for continuous use in this manner.
This is working as intended.
-- gshires@chromium.org

This issue appears to be unresolvable. : /

[2017-08-25 08:12] MiHawkStackOverFlow commented on #290
Can I take this up ? I am a beginner on github. Let me know whatI  need to do ? is minification needed for js files ?

[2017-08-25 21:44] germanamz commented on #290
the npm module is on [https://www.npmjs.com/package/annyang](https://www.npmjs.com/package/annyang)

[2017-09-01 20:21] HannesOberreiter commented on #292
It does not work so far, the Webview seems to not support the speech API.

[2017-09-01 22:08] macdonst commented on #292
@ardakazanci my speech rec plugin for Apache Cordova apps would let you use Annyang inside an Android WebView. https://github.com/macdonst/SpeechRecognitionPlugin

[2017-09-05 05:02] energiatel opened #305 "Dinamically added commands"
I'm trying to dinamically load and add commands to annyang.
The first line, where i manually add commands, works well.

When i try to add command with the command itself contained in variable, it doesn't works.

[code]

So: is it possible to dinamically load commands?
And can the function code be contained in another variable (loaded from database)?

Thanks a lot for your wonderful project!

[2017-09-05 07:29] energiatel commented on #305
Sorry! Found the solution:

[code]